
/* #region generallayout */
.viewportcontent {
    width: 87.5%;
    max-width: 1680px;

    margin-inline-start: auto;
    margin-inline-end: auto;
}

.largecenter {
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* #endregion generallayout */

/* #region generaltext*/

/* glow text */
.glowsectiontitlecontent {
    color: #c8c2bd;

    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}
.glowsectiontitlecontent_position {
    
    text-align: center;

    margin-bottom: var(--ps-spacing-128);

    position: relative;
}
.glowsectiontitlecontent svg {
    display: none;
}
.glowsectiontitlecontent .glowtext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.glowsectiontitlecontent .glowtext .filter {
    filter: url(#glow-1);
    color: #fffaf6;
    /* blur */
    padding: 80px 0;
    /* margin: -80px 0; */
}

/* title for each section - 56*/
.sectiontitlecontent .title {
    display: flex;
    justify-content: space-between;
    /* vertical align */
    align-items: flex-end;
    padding: 0 0 var(--ps-spacing-80);
}
.sectiontitlecontent .title h1 {
    color: var(--default-text-color);
    font-size: var(--title-size-56);
    font-weight: 600;
}
/* centered title - 80*/
.sectiontitlecontent2 h1 {
    text-align: center;

    color: var(--default-text-color);
    font-size: var(--title-size-80);
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}
/* secondary centered title - 64*/
.sectiontitlecontent4 {
    color: var(--default-text-color);
    font-size: var(--title-size-64);
    line-height: 1.0635;
    font-weight: 600;
    letter-spacing: -0.009em;
}
/* third centered title - 48*/
.sectiontitlecontent3 {
    color: var(--default-text-color);
    font-size: var(--title-size-48);
    line-height: 1.083;
    font-weight: 600;
    letter-spacing: -0.003em;
}

/* content text - 20*/
.contenttext {
    color: var(--default-gray-text-color);

    font-size: var(--text-size-20);
    line-height: 1.39;
    font-weight: 600;
    letter-spacing: 0.011em;
}
.contenttext strong {
    color: var(--default-text-color);
    font-weight: 600;
}
.contenttext4 {
    color: var(--default-text-color);
    font-size: var(--text-size-20);
    line-height: 1.286;
    font-weight: 300;
    letter-spacing: -0.016em;
}
.contenttext9 {
    color: var(--default-text-color);
    font-size: var(--text-size-20);
    line-height: 1.39;
    font-weight: 600;
    letter-spacing: 0.011em;
}
/* content text - 14*/
.contenttext2 {
    color: #868693;
    font-size: var(--text-size-14);
    line-height: 1.286;
    font-weight: 600;
    letter-spacing: -0.016em;
}
.contenttext2 strong {
    color: var(--default-text-color);
    font-weight: 600;
}
.contenttext3 {
    color: #868693;
    font-size: var(--text-size-14);
    line-height: 1.286;
    letter-spacing: -0.016em;
}
/* content text - 32*/
.contenttext5 {
    color: var(--default-gray-text-color);
    font-size: var(--text-size-32);
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
}
/* content text - 28*/
.contenttext7 {
    color: var(--default-text-color);
    font-size: var(--text-size-28);
    line-height: 1.1429;
    font-weight: 600;
    letter-spacing: 0.007em;
}
.contenttext5 strong {
    color: var(--default-text-color);
    font-weight: 600;
}
/* content text - 40*/
.contenttext6 {
    color: var(--default-gray-text-color);
    font-size: var(--text-size-40);
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
}
.contenttext6 strong {
    color: var(--default-text-color);
    font-weight: 600;
}

/* smallest text */
.smallcaption {
    font-size: 12px ;
    line-height: 1.333;
    letter-spacing: -0.01em;

    color: var(--default-gray-text-color);
}
.smallcaption strong{
    color: var(--default-text-color);
}

h1.title {
    font-size: var(--title-size-56);
    line-height: 1.071;
    font-weight: 600;
    letter-spacing: -0.005em;

    color: var(--default-text-color);
}

/* link text */
a {
    font-size: var(--link-size-16);
    color: var(--default-link-color);
}
a.a2 {
    font-size: 20px;
    line-height: 1.38;
    font-weight: 600;
}
a.arrow::after {
    content: ">";
    /* vertical-align: middle; */
    vertical-align: -1px;
    padding-inline-start: 0.24em;
}

.textcolumn {
    /* width: 60%; */

    columns: 2;
    column-gap: var(--ps-spacing-40);
    column-width: var(--ric-column-width-3);
}
.columncontainer .columncontent {
    columns: 2;
    column-gap: 100px;

    padding-inline: var(--ric-column-width-1);
    margin-inline: var(--ric-column-width-1);
}

/* #endregion generaltext*/

/* #region primarybtn */
.primarybtn {
    background-color: var(--default-btn-bg-color);
    color: var(--default-text-color);

    width: var(--sk-button-width);
    min-width: calc(var(--sk-button-min-width-basis) - var(--sk-button-padding-horizontal) * 2);
    padding-inline: calc(var(--sk-button-padding-horizontal) - var(--sk-button-border-width));
    padding-block: calc(var(--sk-button-padding-vertical) - var(--sk-button-border-width));

    border-radius: var(--sk-button-border-radius);

    text-align: center;
}
.primarybtn.nobg {
    background-color: transparent;
}
.primarybtn:hover {
    color: var(--default-text-color);
    background-color: var(--default-link-color);
}
/* #endregion primarybtn */

/* #region comparedropdown*/
.comparedropdown {
    width: var(--ric-column-width-10);

    background-image: linear-gradient(180deg,#0e0e0e 30%,rgba(14,14,14,0) 80%);
    border-radius: 20px;
    padding-top: var(--ps-spacing-72);

    margin-inline-start: auto;
    margin-inline-end: auto;

    padding-inline: var(--ric-column-width-1);
    box-sizing: border-box;
}
.comparedropdown .dropdown {
    font-size: var(--ps-spacing-24);
    font-weight: 600;
    color: var(--default-text-color);
    
    position: relative;

    /* width: max-content; */
}
.comparedropdown .dropdown select {
    height: 40px;
    padding: 0 42px 0 22px;
    border: 1px solid var(--default-gray-text-color);
    border-radius: 20px;
    background-color: var(--default-background-color);

    font-size: var(--ps-spacing-24);
    line-height: 1.1666;
    font-weight: 600;
    letter-spacing: 0.009em;
    color: var(--default-text-color);

    /* hide default arrow */
    appearance: none;

    /* margin-left: 20px; */
}
.comparedropdown .dropdown .downarrow {
    margin-left: -50px;
    /* position: absolute; */
    /* top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 1.2rem; */
   
}
.comparedropdown .dropdown .downarrow svg {
    width: 1em;
    height: auto;
    stroke-width: 2.25;
}
.comparedropdown .dropdown .downarrow::after {
    /* content: ">"; */
}
.comparedropdown .info {
    margin-top: var(--ps-spacing-56);

    display: none;
}
.comparedropdown .info.show {
    display: flex;
    column-gap: var(--ric-column-width-1);
}
.comparedropdown .info .tile {
    width: var(--ric-column-width-2);
}
.comparedropdown .contenttext strong {
    background-image: linear-gradient(270deg,#f5e3d9 40%,#fdc9ae);
    background-clip: text;
    /* -webkit-background-clip: text; */
    color: transparent;

    font-size: 28px;
    line-height: 1.1429;
    font-weight: 600;
    letter-spacing: 0.007em;
    
    display: block;
    margin: 4px 0;
}

/* #endregion comparedropdown*/



/* #region bigcarousel */
.bigcarousel {
    height: var(--shared-media-gallery-height);

    /* overflow: hidden; */
    overflow-x: auto;
    scrollbar-width: none;

}
.bigcarousel .carouselcontent {

    display: grid;
    grid-auto-flow: column;
    grid-column-gap: var(--ps-spacing-24);

    list-style-type: none;

    /* width: 100vw; */
    width: fit-content;
    padding: 0 max(6.25vw,(100vw - 1680px)/2,env(safe-area-inset-left),env(safe-area-inset-right));
    box-sizing: border-box;

    overflow-x: auto;
    scroll-snap-type: x mandatory; 
    scrollbar-width: none;
}
.bigcarousel .carouselcontent .tile {
    display: flex;
    
    width: var(--shared-media-gallery-width);
    min-height: var(--shared-media-gallery-height);

    background-color: var(--default-background-color);
    border-radius: 40px;

    /* for absolute children */
    position: relative;
    /* hide overflow image */
    overflow: hidden;

    scroll-snap-align: center;
    flex-shrink: 0;
}
.bigcarousel .carouselcontent .tile:hover {
    cursor: pointer;
}
.bigcarousel .carouselcontent .tile h2 {
    /* fv */
    width: 400px;
    padding: var(--ps-spacing-48);
    
    color: var(--default-highlight-text-color);
    font-size: var(--text-size-28);
    font-weight: 600;

    position: absolute;
    z-index: 2;
}
.bigcarousel .carouselcontent .tile figure {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
    
    /* for fitting parent container */
    position: absolute;
    width: 100%;
    height: 100%;

    /* place pic in the middle, don't care the left side */
    display: flex;
    justify-content: center;
}
.bigcarousel .carouselcontent .tile picture {
    /* width/height has to apply to blockwise element */
    display: block;
    /* fv */
    width: 1680px;
    height: 740px;
}
.bigcarousel .carouselcontent .tile picture img {
    /* can't have this, otherwise picture w/h won't be fixed */
    /* width: 100%;
    height: auto; */
}
/* #endregion bigcarousel */



/* #region smallcarousel*/
.smallcarousel {
    overflow-x: scroll;
    scrollbar-width: none;
}
.smallcarousel .carouselgrid {
    display: grid;
    grid-auto-flow: column;
    column-gap: var(--ps-spacing-24);

    width: fit-content;
    /* big padding */
    padding: 0 var(--responsive-gutter-width);
}
.smallcarousel .carouselgrid .tile {
    /* fv */
    width: 550px;
}
.smallcarousel .carouselgrid .tile figure {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
}
.smallcarousel .carouselgrid .tile figure img{
    width: 100%;
    height: auto;

    /* only for image so can't apply to tile */
    border-radius: var(--border-radius);
}
.smallcarousel h2 {
    --caption-width: 416px;
    --caption-offset: 34px;

    font-size: 20px;
    /* color: rgba(0, 0, 0, 0); */
    color: transparent;
    background: linear-gradient(90deg,#efcdbb,#dab8a4 50%,#a3735e calc(100% - 5px),rgba(0,0,0,0) calc(100% - 4px));
    background-clip: text;

    /* fv */
    width: calc(var(--caption-width) - var(--caption-offset));
    padding: 32px 5px 20px 34px;
    /* padding-inline: 34px 5px;
    padding-top: 32px;
    padding-bottom: 20px; */
}
.smallcarouselnav .btngroup {
    --responsive-content-width: min(1680px, 87.5%);
    --responsive-gutter-width: calc(50% - var(--responsive-content-width) / 2);

    width: var(--responsive-content-width);
    /* fv */
    height: 36px;
    padding-top: 64px;
    margin-left: var(--responsive-gutter-width);

    display: flex;
    align-items: center;
    /* put nav btns to the right */
    justify-content: end;
    column-gap: var(--ps-spacing-24);
}
.smallcarouselnav .btngroup button {
    /* fv */
    width: 36px;
    height: 36px;
    background-color: rgba(66, 66, 69, 0.72);
    
    border-radius: 100px;
}
.smallcarouselnav .btngroup button:disabled {
    opacity: 0.36;
    pointer-events: none;
}
.smallcarouselnav .btngroup button svg {
    fill: rgba(255,255,255,0.8);
}
/* #endregion smallcarousel*/

/* #region imgswitcher*/
.imgswitchercontentcontainer {
    position: relative;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
}

.imgswitchercontent {
    position: absolute;
}

.imgswitchercontent1 {
    z-index: 1;
}
.imgswitchercontent2 {
    z-index: 0;
}
.imgswitchercontent3 {
    z-index: 0;
}
.imgswitchercontent4 {
    z-index: 0;
}
.imgswitchercontent5 {
    z-index: 0;
}
.imgswitchercontentcontainer img {
    width: 100%;
    height: auto;
}

.imgswitchernavbtn.playbarcontent {
    position: relative;
    top: var(--ps-spacing-24);

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--ps-spacing-24);
}
.imgswitchernavbtn.playbarcontent .playbarright {
    padding: 20px 10px;
}
.imgswitchernavbtn.playbarcontent .playbarright .buttonshape {
    padding: 10px 16px;
    
    border-radius: 50px;
}
.imgswitchernavbtn.playbarcontent .playbarright .selectedbuttonshape {
    background-color: #fff;
}
.imgswitchernavbtn.playbarcontent .playbarright .selectedbuttonshape span {
    color: #000;
}
.imgswitchernavbtn.playbarcontent .info span {
    display: none;
}
.imgswitchernavbtn.playbarcontent .info .selectedinfo {
    display: block;
}
/* #endregion imgswitcher*/

/* #region wipescroll */
/* scroll container */
.wipescroll .scrollwrapper {
    --image-num: 9;

    position: relative;

    /* height: calc(120vh * var(--image-num)); */
    height: calc(110vh * var(--image-num));
}
/* scroll sticky item */
.wipescroll .stickycontainer {
    position: sticky;
    /* stick in the center */
    top: calc(50vh - var(--gallery-height)/2 + var(--r-localnav-height)/2);
    height: var(--gallery-height);
}

.wipescroll .stickycontainer .frameadjust {

    /* let the adjustframe closely cover outside of the image */
    width: calc(var(--gallery-width) - 20px);
    height: calc(var(--gallery-height));
    margin: 0 auto;

    border: 10px solid black;
    /* padding-left: -10px; */
    /* box-sizing: border-box; */

    /* use position relative to overlap instead of position absolute */
    position: relative;
    z-index: 3;
}

.wipescroll .stickycontainer .imglist {
    
    width: var(--gallery-width);
    height: var(--gallery-height);

    display: grid;

    margin-inline: auto;

    position: relative;

    overflow: hidden;

    /* use position relative to overlap instead of position absolute */
    z-index: 2;
    /* because relative pos overlap, need move up, actually it's the 
    height of the frameadjust */
    margin-top: calc(-1 * var(--gallery-height) - var(--border-size));
}
.wipescroll .stickycontainer .image {
    /* all images are overlapped together */
    
    grid-area: 1/1;

    background-repeat: no-repeat;
    /* background-position: 50%; */
    background-position: center;
    background-size: cover;
    /* background-size: var(--gallery-width) var(--gallery-height); */
}
.wipescroll .stickycontainer .image1 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style1__ejjuw3sw3t0m_large_2x.jpg);
    
}
.wipescroll .stickycontainer .image2 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style2__gbh1d5shzmie_large_2x.jpg);

    clip-path: inset(0 0 0 100%);
}
.wipescroll .stickycontainer .image3 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style3__ebrovo7velkm_large_2x.jpg);

    clip-path: inset(0 0 0 100%);
}


.wipescroll .stickycontainer .frame {
    position: absolute;
    left: 0;

    /* z-index: 5; */
    /* move the frame to the same pos as imglist */
    /* left: calc((100vw - var(--gallery-width))/2 - 10px); */
    /* transform: translateX(-50%); */
    /* margin-top: calc(-1 * var(--gallery-height) - var(--border-size)); */

    width: calc(var(--gallery-width) * var(--image-num));
    height: calc(var(--gallery-height));
    /* height: 100%; */

    display: flex;

    /* --default-frame-color: pink; */
}
.wipescroll .stickycontainer .frame .slide {
    width: calc(var(--gallery-width) );
    position: relative;
}
.wipescroll .stickycontainer .frame .corner {
    --radius: 0.06;

    position: absolute;
    width: calc(var(--gallery-height) * var(--radius));
    height: calc(100% * var(--radius));
    z-index: 4;
}
.wipescroll .stickycontainer .frame .corner.top {
    top: 0;
}
.wipescroll .stickycontainer .frame .corner.top.left {
    left: 0;
    background-image: radial-gradient(circle at 100% 100%,transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-left: 10px;
}
.wipescroll .stickycontainer .frame .corner.top.right {
    right: 0;
    background-image: radial-gradient(circle at 0% 100%,transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}
.wipescroll .stickycontainer .frame .corner.bottom {
    bottom: 0;
}
.wipescroll .stickycontainer .frame .corner.bottom.left {
    left: 0;
    background-image: radial-gradient(circle at 100% 0%,transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}
.wipescroll .stickycontainer .frame .corner.bottom.right {
    right: 0;
    background-image: radial-gradient(circle at 0% 0%,transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}

.wipescroll .stickycontainer .frame .rect {
    position: absolute;
    z-index: 4;
}
.wipescroll .stickycontainer .frame .rect.top {
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    background-color: var(--default-frame-color);
}
.wipescroll .stickycontainer .frame .rect.bottom {
    width: 100%;
    height: 0px;
    left: 0;
    background-color: var(--default-frame-color);
    bottom: 0;
}
.wipescroll .stickycontainer .frame .rect.left {
    height: 100%;
    top: 0;
    width: 10px;
    background-color: var(--default-frame-color);
    left: 0;
}
.wipescroll .stickycontainer .frame .rect.right {
    height: 100%;
    top: 0;
    width: 10px;
    background-color: var(--default-frame-color);
    right: 0;
}

/* #endregion wipescroll */

/* #region shrinkscroll */
.shrinkscroll .stickycontainer {
    /* scrollable space */
    position: relative;
    height: 120vh;
}
.shrinkscroll .stickycontainer .sectiontitlecontent2 {
    width: 100%;
    
    /* keep the text in the middle of viewport, 
    but it will move up as the sticky banner moves up */
    position: absolute;
    top: calc(100vh*0.6);
    text-align: center;

    /* text will turn transparent as scroll down */
    opacity: 1;
    transition: opacity 0.2s ease-out;

    /* text - mask - frame - screen */
    z-index: 4;
}
.shrinkscroll .stickycontainer .gradientoverlay {
    /* mask for gradually turning to bright */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* make the mask covered a little from the top, then transparent in the end */
    /* use image-mask will cause z-index issue */
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);

    /* text - mask - frame - screen */
    z-index: 3;
}
.shrinkscroll .stickycontainer .devicewrapper {
    /* pair with stickycontainer, will stick on top */
    /* sticky device's wrapper */
    position: sticky;
    /* initial location to the top */
    top: 0;
}
.shrinkscroll .stickycontainer .device {
    /* for position frame and screen */
    position: relative;

    /* scale from the middle */
    transform-origin: center center;
    transition: transform 0.2s ease-out;
}

.shrinkscroll .stickycontainer .device .frame {
    /* frame will appear later as scroll */
    display: none;

    aspect-ratio: 2.17;
    
    position: absolute;

    /* the device wrapper has a width in the beginning, 
    then it will be width * scale as scroll, so frame inherits 
    the width when set to 100% */
    width: 100%;

    /* mask - text - frame - screen */
    z-index: 2;
}
.shrinkscroll .stickycontainer .device .screen {
    /* adjust the pic in order to fit the frame */
    position: absolute;
    top: 8px;
    left: 1.68%;
    width: 96.63%;
    border-radius: 8% / 10%;

    overflow: hidden;
}

.shrinkscroll .stickycontainer .device picture {
    margin: 0;
    padding: 0;
}
.shrinkscroll .stickycontainer .device img{
    width: 100%;
    /* height: 100%; */
    aspect-ratio: 2.17;
}

/* #endregion shrinkscroll */

/* #region dissolvescroll */
.dissolvescroll {
    width: var(--ric-column-width-8);

    margin-inline: auto;

    display: grid;
    /* grid-template-columns: auto auto; */
    grid-template-areas: "copy-top iphone" "copy-middle iphone" "copy-bottom iphone";
    grid-column-gap: var(--ric-column-width-1);
}
.dissolvescroll .text {
    width: var(--ric-column-width-4);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--ps-spacing-24);
    
    /* one viewport height, totally will be 3 */
    height: 100vh;

    transition: opacity .6s ease-out;
}
.dissolvescroll .text h3 {
    font-size: 40px;
    font-weight: 600;
    color: var(--default-text-color);
}
.dissolvescroll .text1 {
    grid-area: copy-top;
}
.dissolvescroll .text2 {
    grid-area: copy-middle;
    
    opacity: 0.5;
}
.dissolvescroll .text3 {
    grid-area: copy-bottom;

    opacity: 0.5;
}
.dissolvescroll .piccontainer {
    grid-area: iphone;
}
.dissolvescroll .piccontent {
    position: sticky;
    top: var(--ps-spacing-56);

    /* width: var(--ric-column-width-3); */

    display: grid;
}
.dissolvescroll .pic {
    grid-area: 1/1;

    opacity: 0;
    transition: opacity .6s ease-out;
}
.dissolvescroll .pic1 {
    opacity: 1;
}
.dissolvescroll .pic img{
    width: 100%;
    height: auto;
}

/* #endregion dissolvescroll */

/* #region accordion */
/* accordion left side */
.accordion {
    /* width: 100%; */

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--ps-spacing-24);
    grid-template-areas: "textarea picarea";
}
.accordion .accordiontext {
    grid-area: textarea;

    /* fv */
    width: 350px;
    padding: 0 clamp(var(--accordion-side-padding-large),var(--accordion-fluid-padding),var(--accordion-side-padding-xlarge));
}
.accordion .accordiontext .item {
    display: flex;
    flex-direction: column;
    row-gap: var(--ps-spacing-24);

    padding: var(--ps-spacing-24) 0;

    border-bottom: 1px solid var(--default-gray-text-color);
}
.accordion .accordiontext .item .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.accordion .accordiontext .item .title h3 {
    font-size: 28px;
    line-height: 1.1428;
    font-weight: 600;
    color: var(--default-text-color);
}
.accordion .accordiontext .item .title svg {
    width: 2em;
    stroke-width: 2.25;
    color: var(--default-gray-text-color);
}
/* toggle inside text */
.accordion .accordiontext .item .contenttext {
    display: none;
}
.accordion .accordiontext .item .contenttext.expand {
    display: block;
}

/* accordion right side */
.accordion .imgcontainer {
    grid-area: picarea;

    position: relative;
}
.accordion .imgcontainer picture {
    /* grid-area: 1/1; */
    position: absolute;

    opacity: 0;
}
.accordion .imgcontainer picture img {
    /* don't let image shrink and expand */
    /* width: 100%;
    height: auto; */
}
.accordion .imgcontainer picture.expand {
    opacity: 1;
}
.accordion .imgcontainer .specialpic {
    /* width: 180%; */
}
.accordion .imgcontainer .specialpic.expand {
    /* left: 0; */
}
/* #endregion accordion */



/* #region playbar*/
.playbaraccesscontainer {
    display: flex;
    /* place bar to vertical end */
    align-items: flex-end;
    justify-content: center;

    /* cover the whole section */
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    /* on top of everything else */
    z-index: 99;

    /* not clickable */
    pointer-events: none;
}

.bouncecircle {
    position: sticky;

    /* margin-top: var(--ps-spacing-32); */
    margin-top: 348px;
    margin-bottom: var(--ps-spacing-96);

    /* left: 0; */
    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);
}
.playbaraccesscontainer .bouncecircle_left {
    display: flex;
    align-items: center;
    column-gap: 20px;

    width: fit-content;
    height: var(--ps-spacing-56);
    border-radius: 50px;
    transform: translateX(-20px);

    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
}

.playbaraccesscontainer .bouncecircle_left .dot {
    background-color: var(--default-icon-color-opacity);

    /* fv */
    width: 8px;
    height: 8px;
    border-radius: 50px;

    /* transition: width 0.5s ease-out; */
    transition: width 0.5s ease-in-out;

    cursor: pointer;

    /* clickable */
    pointer-events: auto;
}

.playbaraccesscontainer .bouncecircle_left .dot:hover {
    background-color: var(--icon-background-color2);
}

.playbaraccesscontainer .bouncecircle_left .dot.selected {
    /* fv */
    width: 46px;
}

.playbaraccesscontainer.revealed.revealed2 .bouncecircle_left .dot.selected::after {
    content: "";
    height: 100%;
    border-radius: 50px;
    background-color: var(--default-icon-color);

    position: absolute;
    top: 0;
    inset-inline-start: 0;

    /* width: 50%; */

    animation-name: insidedotbar_progress;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.playbaraccesscontainer.revealed.revealed2.animationpaused .bouncecircle_left .dot.selected::after {
    animation-play-state: paused !important;
}

.playbaraccesscontainer .bouncecircle_right {
    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--ps-spacing-56);
    height: var(--ps-spacing-56);
    border-radius: 50px;

    cursor: pointer;

    pointer-events: auto;
}

.playbaraccesscontainer .bouncecircle_right:hover {
    background-color: var(--icon-background-color2);
}

.playbaraccesscontainer .bouncecircle_right .svg-icon {
    width: 100%;
    height: 100%;
    display: none;
    /* fill: rgb(245,245,247);
    transition: fill linear 100ms; */
}

.playbaraccesscontainer .bouncecircle_right .svg-icon.icon-control-play-super {
    /* display: block; */
} 
.playbaraccesscontainer .bouncecircle_right .svg-icon.icon-control-pause-super {
    display: block;
} 
.playbaraccesscontainer .bouncecircle_right .svg-icon.icon-control-replay-super {
    /* display: block; */
} 

.playbaraccesscontainer .bouncecircle_right:hover {
    backdrop-filter: blur(3px);
}

.playbaraccesscontainer .bouncecircle_right svg{
    fill: var(--default-icon-color);
}

.playbaraccesscontainer.revealed .bouncecircle_left {
    animation-name: bounceAndMorph_left;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}
.playbaraccesscontainer.revealed .bouncecircle_right {
    animation-name: bounceAndMorph_right;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

.playbaraccesscontainer.revealed .bouncecircle_left .dot{
    animation-name: bounceAndMorph_leftinside;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}
.playbaraccesscontainer.revealed .bouncecircle_right svg{
    animation-name: bounceAndMorph_rightinside;
    animation-duration: 1.5s; 
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}



/* sticky content */
.playbarcontent {
    display: flex;
    /* align-items: center; */

    position: sticky;
    bottom: var(--ps-spacing-32);

    margin-top: var(--ps-spacing-32);
    /* margin-top: 300px; */
    margin-bottom: var(--ps-spacing-96);
}


.playbarcontent .playbarright {
    display: flex;
    align-items: center;

    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);

    height: var(--ps-spacing-56);
    width: fit-content;
    border-radius: 50px;

    display: flex;
    column-gap: 20px;

    padding: 20px;
    box-sizing: border-box;

    margin-left: 20px;
}

.playbarcontent .playbarright_modify {
    margin-left: 0;
}

/* playbar type1 */
.playbarcontent .playbarleft {
    /* --icon-background-color: rgba(66, 66, 69, 0.7); */
    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);

    /* fv */
    width: var(--ps-spacing-56);
    height: var(--ps-spacing-56);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.playbarcontent .playbarleft svg {
    fill: var(--default-icon-color);
}

.playbaraccesscontainer .playbarcontent_modify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: var(--ps-spacing-12);
}

.playbarcontent .playbarright .longdot {
    background-color: var(--default-icon-color);

    /* fv */
    width: 46px;
    height: 8px;
    border-radius: 50px;

    /* box-sizing: border-box; */
}
.playbarcontent .playbarright .dot {
    background-color: var(--default-icon-color);

    /* fv */
    width: 8px;
    height: 8px;
    border-radius: 50px;

    /* box-sizing: border-box; */
}

/* playbar type2 */
.playbarcontent .playbarright .bigbtn {
    width: var(--colornav-item-size);
    height: var(--colornav-item-size);
    border-radius: 50px;

    background-color: var(--default-btn-bg-color);
}

.playbarcontent .playbarright .bigbtn svg {
    fill: var(--default-icon-color);
}

/* playbar type3 */
.playbaraccesscontainer .playbarcontent .label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--default-text-color);
}

.playbaraccesscontainer .playbarcontent .label .checkedlabel {
    display: inline;
}

.playbaraccesscontainer .playbarcontent .label span {
    display: none;
}

.playbarcontent .playbarright .bigdotborder {
    border: 2px solid rgba(0, 0, 0, 0);
    box-sizing: border-box;
    
    width: var(--colornav-item-size);
    height: var(--colornav-item-size);
    border-radius: 50px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* padding: calc(var(--colornav-item-size)/2 - var(--colornav-swatch-size)/2 - 2px); */
}

.playbarcontent .playbarright .checkedbigdotborder {
    border-color: rgb(245, 245, 247);
}

.playbarcontent .playbarright .bigdot {
    background-color: var(--default-icon-color);

    width: var(--colornav-swatch-size);
    height: var(--colornav-swatch-size);
    border-radius: 50px;
    /* box-sizing: border-box; */

    /* background-repeat: no-repeat; */
    /* background-position: 50%; */
    /* background-size: 100%; */
}

/* add a half moon effect */
.playbarcontent .playbarright .bigdot::after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;

    display: block;

    background-image: conic-gradient(from 90deg,rgba(255,255,255,0.08) 0deg,rgba(255,255,255,0.48) 64.8deg,rgba(255,255,255,0.48) 115.2deg,rgba(255,255,255,0.08) 180deg,rgba(255,255,255,0) 208.8deg,rgba(255,255,255,0) 331.2deg,rgba(255,255,255,0.08) 360deg);
    mask-image: radial-gradient(circle at 50% 50%,transparent calc(var(--colornav-swatch-size)/2 - 1.5px),black calc(var(--colornav-swatch-size)/2 - 0.5px));
}
.playbarcontent .playbarright .bigdot1 {
    background: conic-gradient(from 0deg at 50% 50%,#202121 0%,#dbdad7 25%,#a6a198 50%,#a8907e 75%,#202121 100%);
}
.playbarcontent .playbarright .bigdot2 {
    background: #181919;
}
.playbarcontent .playbarright .bigdot3 {
    background: #d3d1cd;
}
.playbarcontent .playbarright .bigdot4 {
    background: #959086;
}
.playbarcontent .playbarright .bigdot5 {
    background: #977e6b;
}
.playbarcontent .playbarright .bigdot6 {
    background: #6f976b;
}
/* #endregion playbar*/


