

/* #region revealelement */
.revealelement {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out
}
.revealelement.revealed {
    opacity: 1;
    transform: translateY(0);
}

/* #endregion revealelement */


/* #region global playbar effect */
@keyframes bounceAndMorph_left {
    /* The circle starts off-screen at the bottom and is a perfect circle */
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(28px);
    }
    
    /* The bounce-up phase. The circle rises up into the viewport */
    25% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 120px;
    }
    
    /* The slight fall-back phase. It overshoots, then settles. */
    60% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 30px;
    }

    /* The beginning of the stretch and morph */
    70% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        /* bottom: 60px; */

    }

    /* The final state, where it stretches to match the longdot */
    100% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 50px;

        transform: translateX(28px);
    }
}
@keyframes bounceAndMorph_right {
    /* The circle starts off-screen at the bottom and is a perfect circle */
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(-28px);
    }
    
    /* The bounce-up phase. The circle rises up into the viewport */
    25% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 120px;
    }
    
    /* The slight fall-back phase. It overshoots, then settles. */
    60% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 30px;
    }

    /* The beginning of the stretch and morph */
    70% {
        /* transform: translateY(0) scale(1); */
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        /* bottom: 40px; */
    }

    /* The final state, where it stretches to match the longdot */
    100% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 50px;
        transform: translateX(-28px);
    }
}
/* #endregion global playbar effect */