

/* #region revealelement */
.revealelement {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out
}
.revealelement.revealed {
    opacity: 1;
    transform: translateY(0);
}

/* #endregion revealelement */


/* #region global playbar effect */
@keyframes bounceAndMorph_left {
    /* step1 up */
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(28px);
    }
    
    /* step2 peak */
    15% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 150px;

        transform: translateX(28px) scale(1);

    }
    
    /* step3 down more, scale down */
    35% {
        width: 100px;
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 0px;

        transform: translateX(20px) scale(0.7);
        
    }

    /* step4 up a little, split, scale up*/
    50% {
        width: 250px;
        height: var(--ps-spacing-56);
        border-radius: 50px;
        
        transform: translateX(-10px) scaleX(1.08) scaleY(0.98);
        bottom: 60.5px;
    }
    /* step5 water ballon effect */
    70% {
        transform: translateX(-10px) scaleX(0.98) scaleY(1.03);
        bottom: 59.5px;
    }
    /* step6 final status */
    100% {
        width: 250px;
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 60px;

        transform: translateX(-10px) scale(1);
    }
}
@keyframes bounceAndMorph_right {
    /* step1 up */
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(-28px);
    }
    
    /* step2 peak */
    15% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 150px;

        transform: translateX(-28px) scale(1);
    }
    
    /* step3 down more, scale down */
    35% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 0px;

        transform: translateX(-48px) scale(0.7);
    }

    /* step4 up a little, split, scale up*/
    50% {
        transform: scaleX(1.08) scaleY(0.97);
        bottom: 60.5px;
    }
    /* step5 water ballon effect */
    70% {
        transform: scaleX(0.99) scaleY(1.01);
        bottom: 59.5px;
    }
    /* step6 final status */
    100% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 60px;
        transform: translateX(0px) scale(1);
    }
}
/* #endregion global playbar effect */