

/* #region revealelement */
.revealelement {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out
}
.revealelement.revealed {
    opacity: 1;
    transform: translateY(0);
}

/* #endregion revealelement */


/* #region global playbar effect */
@keyframes bounceAndMorph_left {
    /* step1 up */
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(28px);
    }
    
    /* step2 peak */
    15% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 120px;

        transform: translateX(28px);

    }
    
    /* step3 down more, shrink */
    40% {
        width: 100px;
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 20px;

        transform: translateX(-10px);
        
    }

    /* step4 up a little, strentch, scale up */
    75% {
        width: 250px;
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 60px;

    }
    /* 85% {
        bottom: 59px;
    } */

    /* step5 down a little*/
    100% {
        width: 250px;
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 61px;

        transform: translateX(-10px);
    }
}
@keyframes bounceAndMorph_right {
    0% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: -60px;

        transform: translateX(-28px);
    }
    
    15% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 120px;

        transform: translateX(-28px);
    }
    
    40% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 20px;
        /* transform: translateX(-28px); */

        transform: translateX(-58px);
    }

    75% {
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 60px;
        transform: translateX(0px);
    }

    /* 85% {
        bottom: 59px;
    } */

    100% {
        width: var(--ps-spacing-56);
        height: var(--ps-spacing-56);
        border-radius: 50px;

        bottom: 61px;
        transform: translateX(0px);
    }
}
/* #endregion global playbar effect */