/* #region variables*/
:root {
    --default-background-color: rgb(0, 0, 0);
    --default-background-light-color: #1d1d1f;
    --default-text-color: #f5f5f7;
    --default-icon-color: #f5f5f7;
    --default-highlight-text-color: #fff;
    --default-link-color: #2997ff;
    --default-btn-bg-color: #0071E3;
    --welcome-apple-headline-height: 54px;
    --icon-background-color: rgba(66, 66, 69, 0.7);
    --colornav-item-size: 36px;
    --colornav-swatch-size: 28px;

    --shared-media-gallery-responsive-content-absolute-max-width: 1680px;
    --shared-media-gallery-height: 680px;
    --shared-media-gallery-responsive-content-absolute-min-width: 280px;
    --global-scrollbar-width: 15px;
    --shared-media-gallery-viewport-content: max(87.5vw - var(--global-scrollbar-width),var(--shared-media-gallery-responsive-content-absolute-min-width));
    --shared-media-gallery-width: min(var(--shared-media-gallery-viewport-content), var(--shared-media-gallery-responsive-content-absolute-max-width));
    --shared-media-gallery-padding: max(6.25vw, (100vw - var(--shared-media-gallery-responsive-content-absolute-max-width)) / 2, env(safe-area-inset-left), env(safe-area-inset-right));

    --ric-grid-gap: 20px;
    --ric-column-width-0: 0;
    --ric-column-width-1: min(7.2915666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    --ric-column-width-2: min(14.5832333333vw - var(--global-scrollbar-width) / 12 * 2, 280px);
    --ric-column-width-3: min(21.8749vw - var(--global-scrollbar-width) / 12 * 3, 420px);
    --ric-column-width-4: min(29.1665666667vw - var(--global-scrollbar-width) / 12 * 4, 560px);
    --ric-column-width-5: min(36.4582333333vw - var(--global-scrollbar-width) / 12 * 5, 700px);
    --ric-column-width-6: min(43.7499vw - var(--global-scrollbar-width) / 12 * 6, 840px);
    --ric-column-width-7: min(51.0415666667vw - var(--global-scrollbar-width) / 12 * 7, 980px);
    --ric-column-width-8: min(58.3332333333vw - var(--global-scrollbar-width) / 12 * 8, 1120px);
    --ric-column-width-9: min(65.6249vw - var(--global-scrollbar-width) / 12 * 9, 1260px);
    --ric-column-width-10: min(72.9165666667vw - var(--global-scrollbar-width) / 12 * 10, 1400px);
    --ric-column-width-11: min(80.2082333333vw - var(--global-scrollbar-width) / 12 * 11, 1540px);
    --ric-column-width-12: min(87.4999vw - var(--global-scrollbar-width) / 12 * 12, 1680px);
}  
/* #endregion variables*/

body {
    overflow-x: hidden;
    background-color: var(--default-background-color);

}

/* #region nav*/
.navcls {
    width: 100%;
    height: 44px;
    /* background-color: var(--default-background-color); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.navcls .content {
    /* width: 80%; */
    /* margin: 0 auto; */
}
.navcls ul {
    /* width: 1024px; */
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* margin: 0 258px;
    padding: 0 22px; */
    /* margin: 0 10px; */

    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
    column-gap: clamp(5px, 3vw, 40px);
    /* flex: none; */
}
.navcls ul li {
    /* margin: auto auto; */
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex: 0 1 auto; */
    /* flex-shrink: 1; */
    /* line-height: 100%; */
    /* vertical-align: middle; */
    /* text-align: center; */
}
/* .navcls ul li:first-child {
    padding-left: 10px;
}
.navcls ul li:last-child {
    padding-right: 10px;
} */
/* .navcls ul li:first-child {
    padding-left: 10px;
} */
.navcls ul li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}
.navcls ul li a svg {
    fill: rgba(255, 255, 255, 0.8);
}
/* #endregion nav*/

/* #region ribbon*/
.ribbon {
    width: 100%;
    height: 52px;
    background-color: var(--default-background-light-color);
    color: var(--default-text-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    size: 14px;
}
.ribbon a {
    padding-left: 4px;
    /* color: var(--default-link-color); */
}
/* #endregion ribbon*/

/* #region welcome*/
.welcome {
    width: 100%;
    margin-bottom: 160px;
}
.welcome .content {
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* align-items: space-between; */
    flex: 1;

    /* row-gap: 10px; */
    overflow: hidden;
    /* margin-top: 0;
    height: calc(var(--welcome-apple-headline-height) * 1px); */
    /* position: relative; */
}
.welcome .content .insidecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 896px;
    margin-top: -33px;
}
.welcome .content h1 {
    color:#fff;
    font-size: 32px;
    font-weight: 600;
    z-index: 99;

    margin-top: 80px;
}
.welcome .content .picture1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150px;
    overflow: hidden;
    /* margin-top: 10px; */
    z-index: 99;
}

.welcome .content .picture2 {
    width: 100%;
    height: 450px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    /* height: 500px; */
    /* margin-top: -100px; */
    /* margin-top: -360px; */
}
.welcome .content picture img {
    /* width: 100%;
    height: auto; */
    object-fit: cover;
    object-position: center center;
    /* object-position: -20% 20%; */
}
/* .welcome .content .welcomeimg {
    width: 50%;
    z-index: 99;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.welcome .content .welcomeimg2 {
    width: 80%;

    position: absolute;
    top: -180px;
} */

.welcome .content .textcontent {
    width: 784px;
    height: 102px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    row-gap: 30px;
}
.welcome .content .textcontent a {
    padding: 15px 20px;
    font-size: 16px;
    background-color: var(--default-btn-bg-color);
    color: var(--default-highlight-text-color);
    border-radius: 25px;
}
.welcome .content .textcontent span {
    font-size: 14px;
    color: var(--default-highlight-text-color);
    font-weight: 600;
    letter-spacing: 1px;
}

/* #endregion welcome*/

/* #region carousel*/
.carousel {
    padding: 160px 0 216px;
    background-color: var(--default-background-light-color);
    position: relative;
}

.carousel .content {
    width: 100%;
    margin: 0 auto;
    height: var(--shared-media-gallery-height);
    padding-bottom: 30px;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
.carousel .content::-webkit-scrollbar {
    /* display: none; */
}
.carousel .content .carouselcontent {
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    position: relative;


    width: fit-content;
    /* height: fit-content; */
    padding: 0 max(6.25vw,(100vw - 1680px)/2,env(safe-area-inset-left),env(safe-area-inset-right));
    
}
.carousel .content .carouselcontent .tile {
    display: flex;
    
    background-color: var(--default-background-color);

    width: var(--shared-media-gallery-width);
    min-height: var(--shared-media-gallery-height);
    border-radius: 40px;

    position: relative;

    overflow: hidden;
}
.carousel .content .carouselcontent .tile h2 {
    width: 400px;
    padding: 48px;
    
    color: var(--default-highlight-text-color);
    font-size: 28px;
    /* box-sizing: border-box; */
    /* z-index: 99; */
    position: absolute;
}
.carousel .content .carouselcontent .tile figure {
    /* z-index: 1; */
    /* display: grid; */
    /* overflow: hidden; */
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    /* position:absolute; */
    width: 100%;
    height: 100%;
}
.carousel .content .carouselcontent .tile picture {
    display: block;
    width: 1260px;
    height: 680px;
}
.carousel .content .carouselcontent .tile picture img {
    /* width: 100%;
    height: auto; */
}
/* #endregion carousel*/

/* #region carousel2*/
.carousel2 {
    padding: 160px 0 216px;
    
    position: relative;
}
.carousel2 .carsouselcontentcontainer {
    position: relative;
    /* width: 100%; */
    height: 680px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.carousel2 .carouselcontent {
    position: absolute;

    /* width: 100%; */
    height: fit-content;
    
}

.carousel2 .carouselcontent1 {
    z-index: 1;
}
.carousel2 .carouselcontent2 {
    z-index: 0;
}
.carousel2 .carouselcontent3 {
    z-index: 0;
}
.carousel2 .carouselcontent4 {
    z-index: 0;
}
.carousel2 .carouselcontent5 {
    z-index: 0;
}
/* #endregion carousel2*/

/* #region material*/
.material {
    padding: 160px 0 216px;
    margin-bottom: 0;
    /* background-color: orange; */
    /* position: relative; */

    /* width: min(21.875vw - var(--global-scrollbar-width)/12*3,420px); */
}
.material:not(:has(.all-access-pass:not(.aap-timer))).no-pad, .material:not(:has(.all-access-pass:not(.aap-timer))).no-pad-bottom {
    padding-bottom: 0;
}

.material .gradient-wrapper {
    /* height: 550px; */
    background: radial-gradient(100% 50% at center, #2c201a, #000);;
}



/* #endregion material*/

/* #region ai*/
.ai {
    padding: 160px 0 216px;
    /* background-color: orange;
    margin-top: 0;
    top: 0; */
}
.ai:not(:has(.all-access-pass:not(.aap-timer))).no-pad, .ai:not(:has(.all-access-pass:not(.aap-timer))).no-pad-bottom {
    padding-bottom: 0;
}
.ai .container {
    /* width: 1440px;
    height: 360px; */
    /* place-content: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    row-gap: 24px;
    
}
.ai .container span {
    max-width: 50%;
    color: #86868b;
    text-align: center;
}
.ai .intelligence-gradient {
    width: 100%;
    background: linear-gradient(180deg,rgb(0,0,0) 0%,#131313 50%);

    padding-bottom: 160px;
}
.ai .tabgroup {
    width: 87.5%;
    max-width: 1680px;
    margin-inline-start: auto;
    margin-inline-end: auto;

    margin-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;

}
.ai .tabgroup .tablist {
    display: flex;
    column-gap: 24px;

    color: #86868b;
    font-size: 20px;

}
.ai .tabgroup .tablist .tab {
    border-bottom: 1px solid #424245;

    padding: 10px 32px 12px;
    text-align: center;
}
.ai .tabgroup .tablist .selected {
    color: var(--default-text-color);
    border-bottom-color: var(--default-text-color);
}
.ai .tabgroup .tabcontentcontainer {
    width: 100%;
    height: 880px;
    position: relative;
}

.ai .tabgroup .tabcontent {
    text-align: center;

    position: absolute;
    /* width: 100%; */
    height: 880px;

}
.ai .tabgroup .tabcontent h3 {
    color: var(--default-text-color);
    font-size: 20px;
    margin-bottom: 30px;
}

.ai .tabgroup .tabcontent .grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 330px 330px;
    grid-template-areas: "tile1 tile2" "tile1 tile3";

    width: 100%;
    height: 680px;
    min-width: 280px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 83.3%;
}
/* .ai .tabgroup .tabcontent .grid .tile .innerpic {
    position: absolute;
} */
.ai .tabgroup .tabcontent .grid .tile {
    background-color: #000;
    /* background-color: orange; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 40px; */
    /* justify-content: space-around; */
    /* padding: 32px auto; */

    overflow: hidden;

    border-radius: 20px;
}
.ai .tabgroup .tabcontent .grid .tile picture {
    margin-top: 40px;
    z-index: 2;
}
.ai .tabgroup .tabcontent .grid .tile .innerpic {
    position: absolute;
    top: 2.1%;
    /* aspect-ratio: 0.46; */
    /* height: 95.8%; */
    z-index: 1;
    
}

.ai .tabgroup .tabcontent .grid .tile .innerpic img {
    border-radius: 20px;
}

.ai .tabgroup .tabcontent .grid .tile figure{
    padding: 0;
    margin: 0;
}

.ai .tabgroup .tabcontent .grid .tile span {
    margin-top: 40px;
    margin-bottom: 40px;

    width: 65%;
    text-align: center;

    flex-grow: 0;
    flex-shrink: 0;
}
.ai .tabgroup .tabcontent .grid .tile1 {
    grid-area: tile1;
    position: relative;
}
.ai .tabgroup .tabcontent .grid .tile2 {
    grid-area: tile2;
}
.ai .tabgroup .tabcontent .grid .tile3 {
    grid-area: tile3;
}
.ai .tabgroup .tabcontent1 {
    z-index: 2;
}
.ai .tabgroup .tabcontent2 {
    z-index: 1;
}
.ai .tabgroup .tabcontent3 {
    z-index: 1;
}
.ai .tabgroup .tabcontent1 h3 {
    opacity: 1;
}
.ai .tabgroup .tabcontent2 h3 {
    opacity: 0;
}
.ai .tabgroup .tabcontent3 h3 {
    opacity: 0;
}
.ai .tabgroup .tabcontent1 .tile .figure1{
    background-size: 700px 104px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_summerize__ca938bki3pki_large_2x.jpg); 

    width: 700px;
    height: 104px;
}
.ai .tabgroup .tabcontent1 .grid .tile .figure2{
    background-size: 209px 430px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_notifications__cyc0vjsn76gm_large_2x.jpg); 

    width: 209px;
    height: 430px;
}
.ai .tabgroup .tabcontent1 .tile .figure2{
    background-size: 700px 104px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_summerize__ca938bki3pki_large_2x.jpg); 

    width: 700px;
    height: 104px;
}
.ai .tabgroup .tabcontent2 .tile .figure1{
    background-size: 182px 136px;
    width: 182px;
    height: 136px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/express_playground__f2yecli2odqq_large_2x.jpg);
}
.ai .tabgroup .tabcontent2 .tile .figure2{
    background-size: 209px 430px;
    width: 209px;
    height: 430px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/express_clean_up__bh8okd58kr9e_large.jpg);
}
.ai .tabgroup .tabcontent3 .tile .figure1{
    background-size: 118px 105px;
    width: 118px;
    height: 105px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/siri_language__fd1s6qrvetqq_large_2x.jpg);
}
.ai .tabgroup .tabcontent3 .tile .figure2{
    background-size: 209px 430px;
    width: 209px;
    height: 430px;
    /* background-size: contain;
    height: 200%;
    width: 100%;
    background-position: 50%;
    position: static;
    margin: 0; */
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/siri_instructions__d51kwie6zoae_large_2x.jpg);
}
.ai .privacy {
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.ai .privacy .titlecontent {
    max-width: 33.3%;
    text-align: center;
    
}

/* #endregion ai*/

/* #region camera*/
.camera {
    padding: 160px 0 0;
    margin-bottom: 0;

    position: relative;
}
.camera .banner {
    /* width: 100%; */
    margin-bottom: 160px;

}
.camera .banner picture {
    /* position: relative; */
}
.camera .banner picture img {
    width: 100%;
    /* height: auto; */
}
.camera .gradient-wrapper {
    padding-bottom: 216px;

    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(19, 19, 19));
}
.camera .columncontainer_position {
    margin-bottom: 96px;
}
.camera .textpiccontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.camera .textpic {
    --bento-width: min(72.9166666667vw - var(--global-scrollbar-width) / 12 * 10, 1400px);
    
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 100px;

    margin-top: 96px;
    width: var(--bento-width);
    max-width: 1036px;
    border-radius: 28px;
    background: #000;
    overflow: hidden;
}
.camera .textpic h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--default-text-color);
    line-height: 1.125;
    letter-spacing: .004em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.camera .playbaraccesscontainer .playbarright_modify {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
/* #endregion camera*/

/* #region videoaudio*/
.videoaudio {
    padding: 0 0 216px;

}
.videoaudio .base {
    /* width: 100%;
    height: fit-content; */
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/video-audio/hero_video__dxljsirulx4y_large_2x.jpg);
    background-size: 1680px 946px;
    background-repeat: no-repeat;
    background-position: 50% 0;

    width: 100%;
    height: 946px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.videoaudio .stickycontainer {
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */

}
.videoaudio .stickycontainer .resposivecontainer {
    /* margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    width: var(--ric-column-width-8); */
}
.videoaudio .stickycontainer .device {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    width: var(--ric-column-width-8);
    
    max-width: 1102px;
    /* height: fit-content; */
    /* display: block; */

    position: relative;

    padding: 0;

}
.videoaudio .stickycontainer .device picture {
    margin: 0;
    padding: 0;
}
.videoaudio .stickycontainer .device img{
    width: 100%;
    height: 100%;
}
.videoaudio .stickycontainer .device .frame {
    aspect-ratio: 2.17;
    position: absolute;

    z-index: 2;
}
.videoaudio .stickycontainer .device .screen {
    position: absolute;
    top: 5px;
    left: 1.68%;
    /* top: 4.27%; */
    
    width: 96.63%;
    border-radius: 8% / 10%;

    overflow: hidden;
}
.videoaudio .stickycontainer .device .screen .videowrapper {
    /* aspect-ratio: 2.17; */
    /* display: grid;

    position: relative;
    width: 100%;
    height: 100%; */
}
.videoaudio .stickycontainer .device .screen .videowrapper img {
    /* max-width: 100%; */
    /* position: absolute; */

    /* overflow-clip-margin: content-box;
    overflow: clip; */
}
.videoaudio .stickycontainer .device .pic {

    /* position: absolute;
    left: 1.68%;
    top: 7px;

    width: 96.63%;

    border-radius: 60px;
    overflow: hidden; */
}

/* #endregion videoaudio*/

/* #region generaltext*/

.sectiontitlecontent {
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* leave padding 6.25vw */
    width: 87.5%;
    max-width: 1680px;
}
.sectiontitlecontent .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 80px;
}
.sectiontitlecontent .title h1 {
    color: var(--default-text-color);
    font-size: 56px;
    font-weight: 600;
}
/* .sectiontitlecontent .title a {
    font-size: 16px;
    color: var(--default-link-color);
} */
.sectiontitlecontent2 {
    /* text-align: center; */
}
.sectiontitlecontent2 h1 {
    text-align: center;

    color: var(--default-text-color);
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.glowsectiontitlecontent {
    color: #c8c2bd;
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}
.glowsectiontitlecontent_position {
    
    text-align: center;

    height: fit-content;
    margin-bottom: 160px;

    position: relative;
}
.glowsectiontitlecontent svg {
    display: none;
}
.glowsectiontitlecontent .glowtext {
    /* color: rgba(0, 0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.glowsectiontitlecontent .glowtext .filter {
    filter: url(#glow-1);
}


.sectiontitlecontent3 {
    color: var(--default-text-color);
    font-size: 48px;
    line-height: 1.083;
    font-weight: 600;
    letter-spacing: -0.003em;
}

.contenttext {
    color: #868693;
    font-size: 20px;
    line-height: 1.39;
    font-weight: 600;
    letter-spacing: 0.011em;
}
.contenttext strong {
    color: var(--default-text-color);
    font-weight: 600;
}
.contenttext2 {
    color: #868693;
    font-size: 14px;
    line-height: 1.286;
    font-weight: 600;
    letter-spacing: -0.016em;
}
.contenttext2 strong {
    color: var(--default-text-color);
    font-weight: 600;
}
a {
    font-size: 16px;
    color: var(--default-link-color);
}
.textcolumn {
    /* display: block; */
    /* --ric-column-width-3: min(21.8749vw - var(--global-scrollbar-width) / 12 * 3, 420px); */
    --ric-column-width-3: min((100vw - var(--global-scrollbar-width)) / 12 * 3, 420px);
    width: 60%;
    columns: 2;
    column-gap: 40px;

    column-width: var(--ric-column-width-3);
}

.columncontainer {
    width: 87.5%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 1680px;

    
    /* columns: 2;
    column-gap: 24px; */
}
.columncontainer .columncontent {
    columns: 2;
    column-gap: 100px;

    padding-inline-start: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    padding-inline-end: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    margin-inline-start: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    margin-inline-end: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
}

/* #endregion generaltext*/

/* #region carousel*/
.carousel3 {
    overflow-x: scroll;
    scrollbar-width: none;
}
.carousel3 .carouselgrid {
    --content-inset: min(7.2916666667vw - var(--global-scrollbar-width)/12*1,140px);
    --xsmall-gutter-additions: 0px;
    --responsive-gutter-width: calc(var(--content-inset) + 50vw - min(87.5vw, 1680px) * 0.5 + var(--xsmall-gutter-additions) * 0.5);
    /* --responsive-gutter-width: var(--content-inset); */

    display: grid;
    margin-inline-start: auto;
    margin-inline-end: auto;
    grid-template-columns: none;
    grid-auto-flow: column;
    column-gap: 24px;

    /* width: min(1680px, 87.5%); */
    min-width: fit-content;
    padding: 0 var(--responsive-gutter-width);
    
}
.carousel3 .carouselgrid .tile {
    width: 550px;
    height: fit-content;
    /* background-color: #a3735e; */
    /* border-radius: 40px; */

}
.carousel3 .carouselgrid .tile figure {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    width: 100%;
    height: 100%;

}
.carousel3 .carouselgrid .tile figure img{
    border-radius: 32px;

}
.carousel3 h2 {
    --caption-width: 416px;
    --caption-offset: 34px;

    font-size: 20px;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg,#efcdbb,#dab8a4 50%,#a3735e calc(100% - 5px),rgba(0,0,0,0) calc(100% - 4px));
    background-clip: text;
    width: calc(var(--caption-width) - var(--caption-offset));

    padding-inline: 34px 5px;
    padding-top: 32px;
    padding-bottom: 20px;
}
.carousel3nav .btngroup {
    --responsive-content-width: min(1680px, 87.5%);
    --responsive-gutter-width: calc(50% - var(--responsive-content-width) / 2);
    width: var(--responsive-content-width);
    height: 36px;
    padding-top: 64px;
    /* inset-inline-start: var(--responsive-gutter-width); */
    margin-left: var(--responsive-gutter-width);
    /* background-color: #fff; */

    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}
.carousel3nav .btngroup button {
    width: 36px;
    height: 36px;
    background-color: rgba(66, 66, 69, 0.72);
    
    border-radius: 100px;
}
.carousel3nav .btngroup button:disabled {
    opacity: 0.36;
    pointer-events: none;
    /* background-color: orange; */
}
.carousel3nav .btngroup button svg {
    fill: rgba(255,255,255,0.8);
}
/* #endregion carousel*/

/* #region playbar*/
.playbaraccesscontainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    /* margin: 0; */

    z-index: 99;

    pointer-events: none;

    /* background-color: rgba(255, 255, 255, 0.3) */
}

.playbarcontent {
    display: flex;
    align-items: center;

    /* width: 100px;
    height: 50px;
    background-color: #fff; */


    position: sticky;
    bottom: 30px;

    margin-top: 30px;
    margin-bottom: 100px;
    
    /* will-change: transform; */
}

.playbarcontent .playbarleft {
    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);

    width: 56px;
    height: 56px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.playbarcontent .playbarleft svg {
    fill: var(--default-icon-color);
}

.playbaraccesscontainer .playbarcontent_modify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.playbaraccesscontainer .playbarcontent .label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--default-text-color);
}

.playbaraccesscontainer .playbarcontent .label .checkedlabel {
    display: inline;
}

.playbaraccesscontainer .playbarcontent .label span {
    display: none;
}

.playbarcontent .playbarright {
    display: flex;
    align-items: center;

    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);
    /* width: 56px; */
    height: 56px;
    width: fit-content;

    border-radius: 50px;

    display: flex;
    column-gap: 20px;

    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    
}

.playbarcontent .playbarright_modify {
    margin-left: 0;
}

.playbarcontent .playbarright .bigbtn {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    /* margin-inline-end: 10px; */

    background-color: var(--default-btn-bg-color);
}

.playbarcontent .playbarright .bigbtn svg {
    fill: var(--default-icon-color);
}

.playbarcontent .playbarright .longdot {
    background-color: var(--default-icon-color);
    width: 46px;
    height: 8px;
    /* padding: 8px; */
    border-radius: 50px;

    box-sizing: border-box;
}
.playbarcontent .playbarright .dot {
    background-color: var(--default-icon-color);
    width: 8px;
    height: 8px;
    /* padding: 8px; */
    border-radius: 50px;

    box-sizing: border-box;
}

.playbarcontent .playbarright .bigdotborder {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    
    
    /* padding: calc(var(--colornav-item-size)/2 - var(--colornav-swatch-size)/2 - 2px); */
    box-sizing: border-box;

    /* position: relative; */
}

.playbarcontent .playbarright .checkedbigdotborder {
    border-color: rgb(245, 245, 247);
}

.playbarcontent .playbarright .bigdot {
    background-color: var(--default-icon-color);
    width: 28px;
    height: 28px;
    border-radius: 50px;

    box-sizing: border-box;
}

.playbarcontent .playbarright .bigdot::after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;

    display: block;

    background-image: conic-gradient(from 90deg,rgba(255,255,255,0.08) 0deg,rgba(255,255,255,0.48) 64.8deg,rgba(255,255,255,0.48) 115.2deg,rgba(255,255,255,0.08) 180deg,rgba(255,255,255,0) 208.8deg,rgba(255,255,255,0) 331.2deg,rgba(255,255,255,0.08) 360deg)
    ;
    mask-image: radial-gradient(circle at 50% 50%,transparent calc(var(--colornav-swatch-size)/2 - 1.5px),black calc(var(--colornav-swatch-size)/2 - 0.5px));
}
.playbarcontent .playbarright .bigdot1 {
    background: conic-gradient(from 0deg at 50% 50%,#202121 0%,#dbdad7 25%,#a6a198 50%,#a8907e 75%,#202121 100%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot2 {
    background: #181919;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot3 {
    background: #d3d1cd;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot4 {
    background: #959086;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot5 {
    background: #977e6b;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}


/* #endregion playbar*/