/* #region variables*/
:root {
    --default-background-color: rgb(0, 0, 0);
    --default-background-light-color: #1d1d1f;
    --default-text-color: #f5f5f7;
    --default-gray-text-color: #86868b;
    --default-icon-color: #f5f5f7;
    --default-highlight-text-color: #fff;
    --default-link-color: #2997ff;
    --default-btn-bg-color: #0071E3;
    --default-frame-color: rgb(0, 0, 0);
    --welcome-apple-headline-height: 54px;
    --icon-background-color: rgba(66, 66, 69, 0.7);
    --colornav-item-size: 36px;
    --colornav-swatch-size: 28px;
    --gallery-width: min(1680px,calc(100vw - 15px));
    --gallery-height: 1050px;
    --radius: 0.042;

    --ps-spacing-48: 48px;

    --shared-media-gallery-responsive-content-absolute-max-width: 1680px;
    --shared-media-gallery-height: 680px;
    --shared-media-gallery-responsive-content-absolute-min-width: 280px;
    --global-scrollbar-width: 15px;
    --shared-media-gallery-viewport-content: max(87.5vw - var(--global-scrollbar-width),var(--shared-media-gallery-responsive-content-absolute-min-width));
    --shared-media-gallery-width: min(var(--shared-media-gallery-viewport-content), var(--shared-media-gallery-responsive-content-absolute-max-width));
    --shared-media-gallery-padding: max(6.25vw, (100vw - var(--shared-media-gallery-responsive-content-absolute-max-width)) / 2, env(safe-area-inset-left), env(safe-area-inset-right));

    --ric-grid-gap: 20px;
    --ric-column-width-0: 0;
    --ric-column-width-1: min(7.2915666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    --ric-column-width-2: min(14.5832333333vw - var(--global-scrollbar-width) / 12 * 2, 280px);
    --ric-column-width-3: min(21.8749vw - var(--global-scrollbar-width) / 12 * 3, 420px);
    --ric-column-width-4: min(29.1665666667vw - var(--global-scrollbar-width) / 12 * 4, 560px);
    --ric-column-width-5: min(36.4582333333vw - var(--global-scrollbar-width) / 12 * 5, 700px);
    --ric-column-width-6: min(43.7499vw - var(--global-scrollbar-width) / 12 * 6, 840px);
    --ric-column-width-7: min(51.0415666667vw - var(--global-scrollbar-width) / 12 * 7, 980px);
    --ric-column-width-8: min(58.3332333333vw - var(--global-scrollbar-width) / 12 * 8, 1120px);
    --ric-column-width-9: min(65.6249vw - var(--global-scrollbar-width) / 12 * 9, 1260px);
    --ric-column-width-10: min(72.9165666667vw - var(--global-scrollbar-width) / 12 * 10, 1400px);
    --ric-column-width-11: min(80.2082333333vw - var(--global-scrollbar-width) / 12 * 11, 1540px);
    --ric-column-width-12: min(87.4999vw - var(--global-scrollbar-width) / 12 * 12, 1680px);
    --ric-column-width-3point5: min(25.5208333333vw - var(--global-scrollbar-width)/12*3.5,490px);
}  
/* #endregion variables*/

body {
    overflow-x: hidden;
    background-color: var(--default-background-color);

}

/* #region nav*/
.navcls {
    width: 100%;
    height: 44px;
    /* background-color: var(--default-background-color); */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
.navcls .content {
    /* width: 80%; */
    /* margin: 0 auto; */
}
.navcls ul {
    /* width: 1024px; */
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    /* margin: 0 258px;
    padding: 0 22px; */
    /* margin: 0 10px; */

    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* justify-content: space-between; */
    column-gap: clamp(5px, 3vw, 40px);
    /* flex: none; */
}
.navcls ul li {
    /* margin: auto auto; */
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* flex: 0 1 auto; */
    /* flex-shrink: 1; */
    /* line-height: 100%; */
    /* vertical-align: middle; */
    /* text-align: center; */
}
/* .navcls ul li:first-child {
    padding-left: 10px;
}
.navcls ul li:last-child {
    padding-right: 10px;
} */
/* .navcls ul li:first-child {
    padding-left: 10px;
} */
.navcls ul li a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}
.navcls ul li a svg {
    fill: rgba(255, 255, 255, 0.8);
}
/* #endregion nav*/

/* #region ribbon*/
.ribbon {
    width: 100%;
    height: 52px;
    background-color: var(--default-background-light-color);
    color: var(--default-text-color);
    
    display: flex;
    justify-content: center;
    align-items: center;

    size: 14px;
}
.ribbon a {
    padding-left: 4px;
    /* color: var(--default-link-color); */
}
/* #endregion ribbon*/

/* #region welcome*/
.welcome {
    width: 100%;
    margin-bottom: 160px;
}
.welcome .content {
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* align-items: space-between; */
    flex: 1;

    /* row-gap: 10px; */
    overflow: hidden;
    /* margin-top: 0;
    height: calc(var(--welcome-apple-headline-height) * 1px); */
    /* position: relative; */
}
.welcome .content .insidecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 896px;
    margin-top: -33px;
}
.welcome .content h1 {
    color:#fff;
    font-size: 32px;
    font-weight: 600;
    z-index: 99;

    margin-top: 80px;
}
.welcome .content .picture1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 150px;
    overflow: hidden;
    /* margin-top: 10px; */
    z-index: 99;
}

.welcome .content .picture2 {
    width: 100%;
    height: 450px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    /* height: 500px; */
    /* margin-top: -100px; */
    /* margin-top: -360px; */
}
.welcome .content picture img {
    /* width: 100%;
    height: auto; */
    object-fit: cover;
    object-position: center center;
    /* object-position: -20% 20%; */
}
/* .welcome .content .welcomeimg {
    width: 50%;
    z-index: 99;
    overflow-clip-margin: content-box;
    overflow: clip;
}
.welcome .content .welcomeimg2 {
    width: 80%;

    position: absolute;
    top: -180px;
} */

.welcome .content .textcontent {
    width: 784px;
    height: 102px;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    row-gap: 30px;
}
.welcome .content .textcontent a {
    padding: 15px 20px;
    font-size: 16px;
    background-color: var(--default-btn-bg-color);
    color: var(--default-highlight-text-color);
    border-radius: 25px;
}
.welcome .content .textcontent span {
    font-size: 14px;
    color: var(--default-highlight-text-color);
    font-weight: 600;
    letter-spacing: 1px;
}

/* #endregion welcome*/

/* #region carousel*/
.carousel {
    padding: 160px 0 216px;
    background-color: var(--default-background-light-color);
    position: relative;
}

.carousel .content {
    width: 100%;
    margin: 0 auto;
    height: var(--shared-media-gallery-height);
    padding-bottom: 30px;

    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
}
.carousel .content::-webkit-scrollbar {
    /* display: none; */
}
.carousel .content .carouselcontent {
    margin: 0 auto;
    display: grid;
    grid-gap: 20px;
    grid-auto-flow: column;
    position: relative;


    width: fit-content;
    /* height: fit-content; */
    padding: 0 max(6.25vw,(100vw - 1680px)/2,env(safe-area-inset-left),env(safe-area-inset-right));
    
}
.carousel .content .carouselcontent .tile {
    display: flex;
    
    background-color: var(--default-background-color);

    width: var(--shared-media-gallery-width);
    min-height: var(--shared-media-gallery-height);
    border-radius: 40px;

    position: relative;

    overflow: hidden;
}
.carousel .content .carouselcontent .tile h2 {
    width: 400px;
    padding: 48px;
    
    color: var(--default-highlight-text-color);
    font-size: 28px;
    /* box-sizing: border-box; */
    /* z-index: 99; */
    position: absolute;
}
.carousel .content .carouselcontent .tile figure {
    /* z-index: 1; */
    /* display: grid; */
    /* overflow: hidden; */
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    /* position:absolute; */
    width: 100%;
    height: 100%;
}
.carousel .content .carouselcontent .tile picture {
    display: block;
    width: 1260px;
    height: 680px;
}
.carousel .content .carouselcontent .tile picture img {
    /* width: 100%;
    height: auto; */
}
/* #endregion carousel*/

/* #region carousel2*/
.carousel2 {
    padding: 160px 0 216px;
    
    position: relative;
}
.carousel2 .carsouselcontentcontainer {
    position: relative;
    /* width: 100%; */
    height: 680px;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.carousel2 .carouselcontent {
    position: absolute;

    /* width: 100%; */
    height: fit-content;
    
}

.carousel2 .carouselcontent1 {
    z-index: 1;
}
.carousel2 .carouselcontent2 {
    z-index: 0;
}
.carousel2 .carouselcontent3 {
    z-index: 0;
}
.carousel2 .carouselcontent4 {
    z-index: 0;
}
.carousel2 .carouselcontent5 {
    z-index: 0;
}
/* #endregion carousel2*/

/* #region material*/
.material {
    padding: 160px 0 216px;
    margin-bottom: 0;
    /* background-color: orange; */
    /* position: relative; */

    /* width: min(21.875vw - var(--global-scrollbar-width)/12*3,420px); */
}
.material:not(:has(.all-access-pass:not(.aap-timer))).no-pad, .material:not(:has(.all-access-pass:not(.aap-timer))).no-pad-bottom {
    padding-bottom: 0;
}

.material .gradient-wrapper {
    /* height: 550px; */
    background: radial-gradient(100% 50% at center, #2c201a, #000);;
}



/* #endregion material*/

/* #region ai*/
.ai {
    padding: 160px 0 216px;
    /* background-color: orange;
    margin-top: 0;
    top: 0; */
}
.ai:not(:has(.all-access-pass:not(.aap-timer))).no-pad, .ai:not(:has(.all-access-pass:not(.aap-timer))).no-pad-bottom {
    padding-bottom: 0;
}
.ai .container {
    /* width: 1440px;
    height: 360px; */
    /* place-content: center; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    row-gap: 24px;
    
}
.ai .container span {
    max-width: 50%;
    color: #86868b;
    text-align: center;
}
.ai .intelligence-gradient {
    width: 100%;
    background: linear-gradient(180deg,rgb(0,0,0) 0%,#131313 50%);

    padding-bottom: 160px;
}

.ai .tabgroup {
    

    margin-top: 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 32px;

}
.ai .tabgroup .tablist {
    display: flex;
    column-gap: 24px;

    color: #86868b;
    font-size: 20px;

}
.ai .tabgroup .tablist .tab {
    border-bottom: 1px solid #424245;

    padding: 10px 32px 12px;
    text-align: center;
}
.ai .tabgroup .tablist .selected {
    color: var(--default-text-color);
    border-bottom-color: var(--default-text-color);
}
.ai .tabgroup .tabcontentcontainer {
    width: 100%;
    height: 880px;
    position: relative;
}

.ai .tabgroup .tabcontent {
    text-align: center;

    position: absolute;
    /* width: 100%; */
    height: 880px;

}
.ai .tabgroup .tabcontent h3 {
    color: var(--default-text-color);
    font-size: 20px;
    margin-bottom: 30px;
}

.ai .tabgroup .tabcontent .grid {
    display: grid;
    column-gap: 24px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 330px 330px;
    grid-template-areas: "tile1 tile2" "tile1 tile3";

    width: 100%;
    height: 680px;
    min-width: 280px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 83.3%;
}
/* .ai .tabgroup .tabcontent .grid .tile .innerpic {
    position: absolute;
} */
.ai .tabgroup .tabcontent .grid .tile {
    background-color: #000;
    /* background-color: orange; */

    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 40px; */
    /* justify-content: space-around; */
    /* padding: 32px auto; */

    overflow: hidden;

    border-radius: 20px;
}
.ai .tabgroup .tabcontent .grid .tile picture {
    margin-top: 40px;
    z-index: 2;
}
.ai .tabgroup .tabcontent .grid .tile .innerpic {
    position: absolute;
    top: 2.1%;
    /* aspect-ratio: 0.46; */
    /* height: 95.8%; */
    z-index: 1;
    
}

.ai .tabgroup .tabcontent .grid .tile .innerpic img {
    border-radius: 20px;
}

.ai .tabgroup .tabcontent .grid .tile figure{
    padding: 0;
    margin: 0;
}

.ai .tabgroup .tabcontent .grid .tile span {
    margin-top: 40px;
    margin-bottom: 40px;

    width: 65%;
    text-align: center;

    flex-grow: 0;
    flex-shrink: 0;
}
.ai .tabgroup .tabcontent .grid .tile1 {
    grid-area: tile1;
    position: relative;
}
.ai .tabgroup .tabcontent .grid .tile2 {
    grid-area: tile2;
}
.ai .tabgroup .tabcontent .grid .tile3 {
    grid-area: tile3;
}
.ai .tabgroup .tabcontent1 {
    z-index: 2;
}
.ai .tabgroup .tabcontent2 {
    z-index: 1;
}
.ai .tabgroup .tabcontent3 {
    z-index: 1;
}
.ai .tabgroup .tabcontent1 h3 {
    opacity: 1;
}
.ai .tabgroup .tabcontent2 h3 {
    opacity: 0;
}
.ai .tabgroup .tabcontent3 h3 {
    opacity: 0;
}
.ai .tabgroup .tabcontent1 .tile .figure1{
    background-size: 700px 104px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_summerize__ca938bki3pki_large_2x.jpg); 

    width: 700px;
    height: 104px;
}
.ai .tabgroup .tabcontent1 .grid .tile .figure2{
    background-size: 209px 430px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_notifications__cyc0vjsn76gm_large_2x.jpg); 

    width: 209px;
    height: 430px;
}
.ai .tabgroup .tabcontent1 .tile .figure2{
    background-size: 700px 104px;
    background-repeat: no-repeat;
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/productivity_summerize__ca938bki3pki_large_2x.jpg); 

    width: 700px;
    height: 104px;
}
.ai .tabgroup .tabcontent2 .tile .figure1{
    background-size: 182px 136px;
    width: 182px;
    height: 136px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/express_playground__f2yecli2odqq_large_2x.jpg);
}
.ai .tabgroup .tabcontent2 .tile .figure2{
    background-size: 209px 430px;
    width: 209px;
    height: 430px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/express_clean_up__bh8okd58kr9e_large.jpg);
}
.ai .tabgroup .tabcontent3 .tile .figure1{
    background-size: 118px 105px;
    width: 118px;
    height: 105px;
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/siri_language__fd1s6qrvetqq_large_2x.jpg);
}
.ai .tabgroup .tabcontent3 .tile .figure2{
    background-size: 209px 430px;
    width: 209px;
    height: 430px;
    /* background-size: contain;
    height: 200%;
    width: 100%;
    background-position: 50%;
    position: static;
    margin: 0; */
    background-repeat: no-repeat;

    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/apple-intelligence/siri_instructions__d51kwie6zoae_large_2x.jpg);
}
.ai .privacy {
    padding-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}
.ai .privacy .titlecontent {
    max-width: 33.3%;
    text-align: center;
    
}

/* #endregion ai*/

/* #region camera*/
.camera {
    padding: 160px 0 0;
    margin-bottom: 0;

    position: relative;
}
.camera .banner {
    /* width: 100%; */
    margin-bottom: 160px;

}
.camera .banner picture {
    /* position: relative; */
}
.camera .banner picture img {
    width: 100%;
    /* height: auto; */
}
.camera .gradient-wrapper {
    padding-bottom: 216px;

    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(19, 19, 19));
}
.camera .columncontainer_position {
    margin-bottom: 96px;
}
.camera .textpiccontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.camera .textpic {
    --bento-width: min(72.9166666667vw - var(--global-scrollbar-width) / 12 * 10, 1400px);
    
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 100px;

    margin-top: 96px;
    width: var(--bento-width);
    max-width: 1036px;
    border-radius: 28px;
    background: #000;
    overflow: hidden;
}
.camera .textpic h2 {
    font-size: 32px;
    font-weight: 600;
    color: var(--default-text-color);
    line-height: 1.125;
    letter-spacing: .004em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}
.camera .playbaraccesscontainer .playbarright_modify {
    /* display: flex;
    justify-content: space-evenly;
    align-items: center; */
}
/* #endregion camera*/

/* #region videoaudio*/
.videoaudio {
    padding: 0 0 216px;
    position: relative;

    /* cover the big picture from camera2 */
    z-index: 2;
    background-color: var(--default-background-color);
}



.videoaudio .columntext2 {
    text-align: center;
    padding-top: 440px;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;

}
.videoaudio .textcolumngrid {
    text-align: left;

    display: grid;
    grid-template-areas: "tile1 tile2" "tile3 tile4";
    grid-template-columns: var(--ric-column-width-4) var(--ric-column-width-3);
    row-gap: 32px;
    column-gap: var(--ric-column-width-1);

    /* max-width: 67%; */
}
.videoaudio .textcolumngrid .tile2 {
    font-size: 40px;
}
.videoaudio .audio {
    /* height: 400px; */
    margin-top: 200px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 48px;
}
.videoaudio .audio .contenttext {
    max-width: 50%;
}
.videoaudio .audio .picture {
    /* img can shrink with margin aside */
    max-width: 83.3%;
}
.videoaudio .audio img {
    width: 100%;
    height: auto;
}
.videoaudio .tabgroup {
    width: 83.3%;
    max-width: 1680px; 
    margin-inline-start: auto;
    margin-inline-end: auto; 

    /* margin-top: 140px; */

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* row-gap: 32px; */

}
.videoaudio .tabgroup .tablist {
    width: 83.3%;
    margin-inline-start: 8.33%;
    /* text-align: left; */
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start;
    align-items: flex-start; */
    /* column-width: var(--ric-column-width-3); */

    /* column-gap: 48px; */

    /* color: #86868b;
    font-size: 20px; */

}
.videoaudio .tabgroup .tablist .tab {
    width: var(--ric-column-width-3);

    
    
    text-align: left;
}
.videoaudio .tabgroup .tablist .tab span {
    display: block;
}
.videoaudio .tabgroup .tablist .tab .title {
    color: var(--default-text-color);
    border-bottom: 1px solid var(--default-gray-text-color);

    padding: 10px 0px 12px;
    margin-bottom: 20px;
}
.videoaudio .video {
    width: 87.7%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    /* height: 400px; */
    margin-top: 200px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    row-gap: 48px;
}
.videoaudio .video .contenttext {
    max-width: 66.7%;
}
.videoaudio .video .picture {
    /* img can shrink with margin aside */
    max-width: 83.3%;
    position: relative;
}
.videoaudio .video .picture button {
    width: 75px;
    height: 75px;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2256%22%20height%3D%2256%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m0%200h56v56h-56z%22%20fill%3D%22none%22%2F%3E%3Cpath%20d%3D%22m14%2042.16188v-28.26778c0-2.88275%201.73588-4.3941%203.88446-4.3941a4.9721%204.9721%200%200%201%202.97495.83964l23.00036%2013.57413c2.03839%201.20348%203.14023%202.18305%203.14023%204.08623s-1.10184%202.88275-3.14023%204.08623l-23.00036%2013.57413a4.9721%204.9721%200%200%201%20-2.97495.83964c-2.14858%200-3.88446-1.45537-3.88446-4.33812z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E);
    background-color: transparent;
    background-repeat: no-repeat;

    /* background-position: 50% 50%; */
    background-size: cover;

    opacity: 0.75;

    position: absolute;
    left: calc(50% - 75px/2);
    top: calc(50% - 75px/2);

    
}
.videoaudio .video img {
    width: 100%;
    height: auto;
}

/* #endregion videoaudio*/

/* #region camera2*/
.camera2 {
    /* margin-top: 160px; */
    /* padding: 160px 0 216px; */
    padding: 0px 0 216px;
    position: relative;
}
.camera2 .spacer {
    
    width: 100%;
    height: 160px;
    background-color: var(--default-background-color);

    position: absolute;
    z-index: 2;
}

/* scroll container */
.camera2 .stickycontainer {
    height: 150vh;
}

/* sticky wrapper */
.camera2 .stickycontainer .devicewrapper {
    transform: scale(3.5);
}

.camera2 .stickycontainer .device .frame {

    transform: translateX(4%) translateY(-30%) ;
    transition: transform 0.2s ease-out;
}
.camera2 .stickycontainer .device .screen {

    transform: translateX(4%) translateY(-30%) ;
    transition: transform 0.2s ease-out;
}

.camera2 .columncontainer_position {
    margin-top: 400px;
}

.camera2 .viewcontent {

    display: flex;
    align-items: center;
    justify-content: center;
}
.camera2 .viewcontent .contentlayout {
    margin-top: 128px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;

    width: var(--ric-column-width-8);

    position: relative;

}

.camera2 .carsouselcontentcontainer {
    /* margin-top: 50px; */

    
    /* width: 100%; */
    /* height: auto;
    overflow: hidden; */
    /* aspect-ratio: 1.3333333333; */
    /* display: block; */

    /* overflow: hidden; */
    /* display: table; */
    
}
/* .camera2 .carsouselcontentcontainer::after {
    content:  '';
    display: block;
    height: 776px;
} */
.camera2 .carouselcontent {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    height: auto;

    /* aspect-ratio: 1.3337628866; */
    
}
.camera2 .carouselcontent picture {
    /* width: 100%;
    height: 100%;
    object-fit: cover; */

}
.camera2 .carouselcontent img {
    /* width: 100%;
    height: auto; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* position: absolute; */
}

.camera2 .carouselcontent1 {
    z-index: 1;
}
.camera2 .carouselcontent2 {
    z-index: 0;
}
.camera2 .carouselcontent3 {
    z-index: 0;
}
.camera2 .carouselcontent4 {
    z-index: 0;
}
.camera2 .carouselcontent5 {
    z-index: 0;
}
.camera2 .viewcontent .playbarcontent {
    position: relative;
    top: 20px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.camera2 .viewcontent .playbarcontent .playbarright {
    padding: 20px 10px;
}
.camera2 .viewcontent .playbarcontent .playbarright .buttonshape {
    padding: 10px 16px;
    
    border-radius: 50px;
}
.camera2 .viewcontent .playbarcontent .playbarright .selectedbuttonshape {
    background-color: #fff;
}
.camera2 .viewcontent .playbarcontent .playbarright .selectedbuttonshape span {
    color: #000;
}
.camera2 .viewcontent .playbarcontent .info span {
    display: none;
}
.camera2 .viewcontent .playbarcontent .info .selectedinfo {
    display: block;
}
.camera2 .textpiccontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.camera2 .textpic {
    /* --bento-width: min(72.9166666667vw - var(--global-scrollbar-width) / 12 * 10, 1400px); */
    
    display: flex;
    align-items: center;
    /* justify-content: center; */
    column-gap: 100px;

    margin-top: 96px;
    /* width: var(--bento-width); */
    width: var(--ric-column-width-12);
    margin-inline-start: var(--ric-column-width-2);
    max-width: 1036px;
    border-radius: 28px;
    background: #000;
    overflow: hidden;
}
/* #endregion camera2*/

/* #region photograph */
.photograph {
    padding: 0px 0 216px;
    position: relative;
}
.photograph .scrollwrapper {
    height: 300vh;

    position: relative;

    /* padding: 0 5px; */
}
.photograph .stickycontainer {
    position: sticky;
    top: -150px;
    height: 100vh;
    /* overflow: hidden; */

    /* padding: 0 5px; */
}
.photograph .stickycontainer .imagecontainer {
    /* position: absolute;
    top: 0;
    left: 0; */
    position: relative;

    width: 100%;
    height: 140%;

    display: flex;
    align-items: center;
    justify-content: center;
    
    /* border: 6px solid #000;
    border-radius: 50px;
    display: inline-block; */
    /* overflow: hidden; */

    /* padding: 0 10px; */
}
.photograph .stickycontainer .imagecontent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

    /* transition: scale 0.3s ease-out;; */
}
.photograph .stickycontainer .frame {
    width: 100%;
    height: 100%;
    /* position: relative; */
    /* background-color: pink; */
    /* position: absolute;
    left: 0;
    top: 0; */
}
.photograph .stickycontainer .frame .corner {
    position: absolute;
    width: calc(var(--gallery-height) * var(--radius));
    height: calc(100% * var(--radius));
    z-index: 4;
}
.photograph .stickycontainer .frame .corner.top {
    top: 0;
    /* padding-top: 4px; */
}
.photograph .stickycontainer .frame .corner.top.left {
    left: 0;
    background-image: radial-gradient(circle at 100% 100%,transparent calc(var(--gallery-height)*var(--radius)),transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-left: 10px;
}
.photograph .stickycontainer .frame .corner.top.right {
    right: 0;
    background-image: radial-gradient(circle at 0% 100%,transparent calc(var(--gallery-height)*var(--radius)),transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}
.photograph .stickycontainer .frame .corner.bottom {
    bottom: 0;
    /* padding-bottom: 4px; */
}
.photograph .stickycontainer .frame .corner.bottom.right {
    right: 0;
    background-image: radial-gradient(circle at 0% 0%,transparent calc(var(--gallery-height)*var(--radius)),transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}
.photograph .stickycontainer .frame .corner.bottom.left {
    left: 0;
    background-image: radial-gradient(circle at 100% 0%,transparent calc(var(--gallery-height)*var(--radius)),transparent calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)),var(--default-frame-color) calc(var(--gallery-height)*var(--radius)));
    padding-right: 10px;
}
.photograph .stickycontainer .frame .rect {
    position: absolute;

    z-index: 4;
}
.photograph .stickycontainer .frame .rect.top {
    width: 100%;
    height: 10px;
    left: 0;
    background-color: var(--default-frame-color);
    top: 0;
}
.photograph .stickycontainer .frame .rect.bottom {
    width: 100%;
    height: 10px;
    left: 0;
    background-color: var(--default-frame-color);
    bottom: 0;
}
.photograph .stickycontainer .frame .rect.right {
    height: 100%;
    top: 0;
    width: 10px;
    background-color: var(--default-frame-color);
    right: 0;
}
.photograph .stickycontainer .frame .rect.left {
    height: 100%;
    top: 0;
    width: 10px;
    background-color: var(--default-frame-color);
    left: 0;
}
.photograph .stickycontainer .image {
    /* border: 5px solid var(--default-background-color); */
    /* border-radius: 50px; */
    /* display: block;
    object-fit: cover; */
    /* overflow: hidden; */
    /* visibility: hidden; */
    /* display: none; */

    position: absolute;
    top: 0;
    left: 0;

    /* --slide-width: 1680px;
    --slide-height: 1050px; */
    /* width: var(--slide-width);
    height: var(--slide-height); */
    width: 100%;
    height: 100%;
    /* transform: scale(1.2);
    transform-origin: center center; */

    /* background-size: var(--slide-width) var(--slide-height); */
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    
    /* transition: clip-path 0.3s ease-out; */
}
.photograph .stickycontainer .image1 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style1__ejjuw3sw3t0m_large_2x.jpg);
    /* z-index: 3; */
}
.photograph .stickycontainer .image2 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style2__gbh1d5shzmie_large_2x.jpg);
    /* z-index: 2; */
    clip-path: inset(0 0 0 100%);

}
.photograph .stickycontainer .image3 {
    background-image: url(https://www.apple.com/v/iphone-16-pro/f/images/overview/photographic-styles/hero_style3__ebrovo7velkm_large_2x.jpg);
    /* z-index: 1; */
    clip-path: inset(0 0 0 100%);

}
.photograph .stickycontainer .maskslide {
    width: 20px;
    height: 100%;
    background-color: var(--default-background-color);
    /* background-color: pink; */

    position: absolute;
    top: 0;
    left: 100%;

    /* transform: translateX(50%) ; */

    /* transition: left 0.3s ease-out; */
}
.photograph .viewportcontent {

}
.photograph .contenttext_pos {
    margin-top: 300px;
    width: var(--ric-column-width-6);
    text-align: center;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.photograph .viewportcontent .textpic {
    margin-top: 48px;;
    width: var(--ric-column-width-9);
    margin-inline-start: auto;
    margin-inline-end: auto;

    display: grid;
    /* Takes up as much space as needed */
    /* Takes up the rest */
    grid-template-columns: auto 1fr;
    grid-template-areas: "copy-top iphone" "copy-middle iphone" "copy-bottom iphone";
}
.photograph .textpic .text {
    width: var(--ric-column-width-4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 24px;
    
    height: 100vh;
    display: flex;
    align-items: center;
}
.photograph .textpic .text1 {
    grid-area: copy-top;
}
.photograph .textpic .text2 {
    grid-area: copy-middle;
}
.photograph .textpic .text3 {
    grid-area: copy-bottom;
}
.photograph .textpic .text h3 {
    font-size: 40px;
    font-weight: 600;
    color: var(--default-text-color);
}
.photograph .textpic .piccontainer {
    grid-area: iphone;
    /* justify-self: end; */
}
.photograph .textpic .piccontent {
    position: sticky;
    top: 52px;
    /* height: calc(100vh - 52px); */

    --aspect-ratio: 0.4837209302;
    /* min-height: calc(var(--ric-column-width-3)/var(--aspect-ratio)); */
    /* min-height: 600px; */

    display: grid;
    justify-items: end;
    align-items: center;
}
.photograph .textpic .pic {
    grid-area: 1/1;
    opacity: 0;
    transition: opacity .6s ease-out;
}
.photograph .textpic .pic img{
    width: 100%;
    /* object-fit: contain; */
}
.photograph .textpic .pic1 {
    opacity: 1;
}
.photograph .textpic .pic2 {
    opacity: 0;
}
.photograph .textpic .pic3 {
    opacity: 0;
}
/* .photograph .textpic .pic picture  */
/* #endregion photograph */

/* #region chip */
.chip {
    padding: 0px 0 216px;
    /* position: relative; */
}
/* .chip .bigpicwrapper {
    position: relative;
} */
.chip .bigpic {
    position: relative;
    width: 100vw;
    left: 50%; 
    transform: translateX(-50%);
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.chip .bigpic img {
    width: 100%;
    height: auto;
}
.chip .titletext {
    margin-top: 60px;
    width: var(--ric-column-width-6);
    margin-inline-start: auto;
    margin-inline-end: auto;
}
.chip .titletext .glowsectiontitlecontent_position {
    margin-bottom: 60px;
}
.chip .titletext .contenttext {
    text-align: center;
}
.chip .littlegrid {
    /* margin-inline-start: auto;
    margin-inline-end: auto; */

    margin-top: 60px;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, var(--ric-column-width-3));
    grid-column-gap: var(--ric-column-width-2);
    grid-row-gap: 80px;
    /* width: var(--ric-column-width-8); */

    /* margin-left: var(--ric-column-width-2); */
}
.chip .littlegrid .tile {
    width: var(--ric-column-width-3);
    /* border-top: 1px solid var(--default-gray-text-color); */
    padding-top: 30px;
    position: relative;
}
.chip .littlegrid .tile::before {
    width: var(--ric-column-width-3point5);
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    background-color: var(--default-gray-text-color);
}
.chip .comparedropdown {
    margin-top: 128px;

}
.chip .comparedropdown .dropdown {
    font-size: 24px;
    font-weight: 600;
    color: var(--default-text-color);
    position: relative;

    width: max-content;
}
.chip .comparedropdown .dropdown select {
    height: 40px;
    padding: 0 42px 0 22px;
    border: 1px solid var(--default-gray-text-color);
    border-radius: 20px;
    background-color: var(--default-background-color);

    font-size: 24px;
    line-height: 1.1666;
    font-weight: 600;
    letter-spacing: 0.009em;
    color: var(--default-text-color);

    appearance: none;
}
.chip .comparedropdown .dropdown .downarrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    inset-inline-end: 1.2rem;

}
.chip .comparedropdown .dropdown .downarrow::after {
    content: ">";
}

/* #endregion chip */

/* #region generallayout */
.viewportcontent {
    width: 87.5%;
    max-width: 1680px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

/* #endregion generallayout */

/* #region generaltext*/

.sectiontitlecontent {
    
}
.sectiontitlecontent .title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 80px;
}
.sectiontitlecontent .title h1 {
    color: var(--default-text-color);
    font-size: 56px;
    font-weight: 600;
}
/* .sectiontitlecontent .title a {
    font-size: 16px;
    color: var(--default-link-color);
} */
.sectiontitlecontent2 {
    /* text-align: center; */
}
.sectiontitlecontent2 h1 {
    text-align: center;

    color: var(--default-text-color);
    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}

.glowsectiontitlecontent {
    color: #c8c2bd;

    font-size: 80px;
    line-height: 1.05;
    font-weight: 600;
    letter-spacing: -0.015em;
}
.glowsectiontitlecontent_position {
    
    text-align: center;

    /* height: fit-content; */
    margin-bottom: 120px;

    position: relative;
}
.glowsectiontitlecontent svg {
    display: none;
}
.glowsectiontitlecontent .glowtext {
    /* color: rgba(0, 0, 0, 0); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    
}
.glowsectiontitlecontent .glowtext .filter {
    filter: url(#glow-1);
    color: #fffaf6;
    padding: 80px 0;
    margin: -80px 0;
}


.sectiontitlecontent3 {
    color: var(--default-text-color);
    font-size: 48px;
    line-height: 1.083;
    font-weight: 600;
    letter-spacing: -0.003em;
}
.sectiontitlecontent4 {
    color: var(--default-text-color);
    font-size: 64px;
    line-height: 1.0635;
    font-weight: 600;
    letter-spacing: -0.009em;
}

.contenttext {
    color: var(--default-gray-text-color);
    font-size: 20px;
    line-height: 1.39;
    font-weight: 600;
    letter-spacing: 0.011em;
}
.contenttext strong {
    color: var(--default-text-color);
    font-weight: 600;
}
.contenttext2 {
    color: #868693;
    font-size: 14px;
    line-height: 1.286;
    font-weight: 600;
    letter-spacing: -0.016em;
}
.contenttext2 strong {
    color: var(--default-text-color);
    font-weight: 600;
}
.contenttext3 {
    color: #868693;
    font-size: 14px;
    line-height: 1.286;
    /* font-weight: 600; */
    letter-spacing: -0.016em;
}
.contenttext4 {
    color: var(--default-highlight-text-color);
    font-size: 20px;
    line-height: 1.286;
    font-weight: 300;
    letter-spacing: -0.016em;
}
.contenttext5 {
    color: var(--default-gray-text-color);
    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: 0.004em;
}
.contenttext5 strong {
    color: var(--default-text-color);
    font-weight: 600;
}
a {
    font-size: 16px;
    color: var(--default-link-color);
}
.textcolumn {
    /* display: block; */
    /* --ric-column-width-3: min(21.8749vw - var(--global-scrollbar-width) / 12 * 3, 420px); */
    --ric-column-width-3: min((100vw - var(--global-scrollbar-width)) / 12 * 3, 420px);
    width: 60%;
    columns: 2;
    column-gap: 40px;

    column-width: var(--ric-column-width-3);
}

.columncontainer {
    

    
    /* columns: 2;
    column-gap: 24px; */
}
.columncontainer .columncontent {
    columns: 2;
    column-gap: 100px;

    padding-inline-start: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    padding-inline-end: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    margin-inline-start: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
    margin-inline-end: min(7.2916666667vw - var(--global-scrollbar-width) / 12 * 1, 140px);
}

/* #endregion generaltext*/

/* #region carousel*/
.carousel3 {
    overflow-x: scroll;
    scrollbar-width: none;
}
.carousel3 .carouselgrid {
    --content-inset: min(7.2916666667vw - var(--global-scrollbar-width)/12*1,140px);
    --xsmall-gutter-additions: 0px;
    --responsive-gutter-width: calc(var(--content-inset) + 50vw - min(87.5vw, 1680px) * 0.5 + var(--xsmall-gutter-additions) * 0.5);
    /* --responsive-gutter-width: var(--content-inset); */

    display: grid;
    margin-inline-start: auto;
    margin-inline-end: auto;
    grid-template-columns: none;
    grid-auto-flow: column;
    column-gap: 24px;

    /* width: min(1680px, 87.5%); */
    min-width: fit-content;
    padding: 0 var(--responsive-gutter-width);
    
}
.carousel3 .carouselgrid .tile {
    width: 550px;
    height: fit-content;
    /* background-color: #a3735e; */
    /* border-radius: 40px; */

}
.carousel3 .carouselgrid .tile figure {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    width: 100%;
    height: 100%;

}
.carousel3 .carouselgrid .tile figure img{
    border-radius: 32px;

}
.carousel3 h2 {
    --caption-width: 416px;
    --caption-offset: 34px;

    font-size: 20px;
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg,#efcdbb,#dab8a4 50%,#a3735e calc(100% - 5px),rgba(0,0,0,0) calc(100% - 4px));
    background-clip: text;
    width: calc(var(--caption-width) - var(--caption-offset));

    padding-inline: 34px 5px;
    padding-top: 32px;
    padding-bottom: 20px;
}
.carousel3nav .btngroup {
    --responsive-content-width: min(1680px, 87.5%);
    --responsive-gutter-width: calc(50% - var(--responsive-content-width) / 2);
    width: var(--responsive-content-width);
    height: 36px;
    padding-top: 64px;
    /* inset-inline-start: var(--responsive-gutter-width); */
    margin-left: var(--responsive-gutter-width);
    /* background-color: #fff; */

    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}
.carousel3nav .btngroup button {
    width: 36px;
    height: 36px;
    background-color: rgba(66, 66, 69, 0.72);
    
    border-radius: 100px;
}
.carousel3nav .btngroup button:disabled {
    opacity: 0.36;
    pointer-events: none;
    /* background-color: orange; */
}
.carousel3nav .btngroup button svg {
    fill: rgba(255,255,255,0.8);
}
/* #endregion carousel*/

/* #region stickyscroll */
.stickycontainer {
    /* scrollable space */
    position: relative;
    height: 120vh;

}
.stickycontainer .sectiontitlecontent2 {
    width: 100%;
    
    /* keep the text in the middle of viewport, 
    but it will move up as the sticky banner moves up */
    position: absolute;
    top: calc(100vh*0.6);
    text-align: center;

    /* text will turn transparent as scroll down */
    opacity: 1;
    transition: opacity 0.2s ease-out;

    /* mask - text - frame - screen */
    z-index: 4;
}
.videoaudio .stickycontainer .gradientoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* make the mask covered a little from the top, then transparent in the end */
    /* use image-mask will cause z-index issue */
    background: linear-gradient(rgba(0, 0, 0, 0.4), transparent);

    /* mask - text - frame - screen */
    z-index: 3;
}
.stickycontainer .devicewrapper {
    /* sticky device's wrapper */
    position: sticky;
    /* initial location to the top */
    top: 0;
}
.videoaudio .stickycontainer .device {
    /* for position frame and screen */
    position: relative;

    /* scale from the middle */
    transform-origin: center center;
    transition: transform 0.2s ease-out;
}

.stickycontainer .device .frame {
    /* frame will appear later as scroll */
    display: none;

    aspect-ratio: 2.17;
    
    position: absolute;

    /* the device wrapper has a width in the beginning, 
    then it will be width * scale as scroll, so frame inherits 
    the width when set to 100% */
    width: 100%;

    /* mask - text - frame - screen */
    z-index: 2;
}
.stickycontainer .device .screen {
    /* adjust the pic in order to fit the frame */
    position: absolute;
    top: 8px;
    left: 1.68%;
    width: 96.63%;
    border-radius: 8% / 10%;

    overflow: hidden;
}

.stickycontainer .device picture {
    margin: 0;
    padding: 0;
}
.stickycontainer .device img{
    width: 100%;
    height: 100%;
}

/* #endregion stickyscroll */

/* #region playbar*/
.playbaraccesscontainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    /* margin: 0; */

    z-index: 99;

    pointer-events: none;

    /* background-color: rgba(255, 255, 255, 0.3) */
}

.playbarcontent {
    display: flex;
    align-items: center;

    /* width: 100px;
    height: 50px;
    background-color: #fff; */


    position: sticky;
    bottom: 30px;

    margin-top: 30px;
    margin-bottom: 100px;
    
    /* will-change: transform; */
}

.playbarcontent .playbarleft {
    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);

    width: 56px;
    height: 56px;

    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.playbarcontent .playbarleft svg {
    fill: var(--default-icon-color);
}

.playbaraccesscontainer .playbarcontent_modify {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
}

.playbaraccesscontainer .playbarcontent .label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: var(--default-text-color);
}

.playbaraccesscontainer .playbarcontent .label .checkedlabel {
    display: inline;
}

.playbaraccesscontainer .playbarcontent .label span {
    display: none;
}

.playbarcontent .playbarright {
    display: flex;
    align-items: center;

    background-color: var(--icon-background-color);
    backdrop-filter: blur(7px);
    /* width: 56px; */
    height: 56px;
    width: fit-content;

    border-radius: 50px;

    display: flex;
    column-gap: 20px;

    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    
}

.playbarcontent .playbarright_modify {
    margin-left: 0;
}

.playbarcontent .playbarright .bigbtn {
    width: 36px;
    height: 36px;
    border-radius: 50px;

    /* margin-inline-end: 10px; */

    background-color: var(--default-btn-bg-color);
}

.playbarcontent .playbarright .bigbtn svg {
    fill: var(--default-icon-color);
}

.playbarcontent .playbarright .longdot {
    background-color: var(--default-icon-color);
    width: 46px;
    height: 8px;
    /* padding: 8px; */
    border-radius: 50px;

    box-sizing: border-box;
}
.playbarcontent .playbarright .dot {
    background-color: var(--default-icon-color);
    width: 8px;
    height: 8px;
    /* padding: 8px; */
    border-radius: 50px;

    box-sizing: border-box;
}

.playbarcontent .playbarright .bigdotborder {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 50%;

    width: 36px;
    height: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    
    
    /* padding: calc(var(--colornav-item-size)/2 - var(--colornav-swatch-size)/2 - 2px); */
    box-sizing: border-box;

    /* position: relative; */
}

.playbarcontent .playbarright .checkedbigdotborder {
    border-color: rgb(245, 245, 247);
}

.playbarcontent .playbarright .bigdot {
    background-color: var(--default-icon-color);
    width: 28px;
    height: 28px;
    border-radius: 50px;

    box-sizing: border-box;
}

.playbarcontent .playbarright .bigdot::after {
    content: "";
    width: inherit;
    height: inherit;
    border-radius: inherit;

    display: block;

    background-image: conic-gradient(from 90deg,rgba(255,255,255,0.08) 0deg,rgba(255,255,255,0.48) 64.8deg,rgba(255,255,255,0.48) 115.2deg,rgba(255,255,255,0.08) 180deg,rgba(255,255,255,0) 208.8deg,rgba(255,255,255,0) 331.2deg,rgba(255,255,255,0.08) 360deg)
    ;
    mask-image: radial-gradient(circle at 50% 50%,transparent calc(var(--colornav-swatch-size)/2 - 1.5px),black calc(var(--colornav-swatch-size)/2 - 0.5px));
}
.playbarcontent .playbarright .bigdot1 {
    background: conic-gradient(from 0deg at 50% 50%,#202121 0%,#dbdad7 25%,#a6a198 50%,#a8907e 75%,#202121 100%);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot2 {
    background: #181919;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot3 {
    background: #d3d1cd;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot4 {
    background: #959086;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.playbarcontent .playbarright .bigdot5 {
    background: #977e6b;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
}


/* #endregion playbar*/